<template>
  <view>
    <view>
      <page-header title="管理员" />
    </view>
    <view class="homePage">
      <view @click="jump(item.url)" v-for="item in list">
        <u-button type="primary" :plain="true" :text="item.name"></u-button>
      </view>
    </view>
  </view>
</template>

<script>
export default {
  name: '',
  data () {
    return {

      list: [
        {
          name: '发布公告',
          url: '/pages/administratorEntry/page/announ'
        },
        {
          name: '学生管理',
          url: '/pages/administratorEntry/page/studentManagement'
        },
        {
          name: '反馈查询',
          url: '/pages/administratorEntry/page/feedbackList'
        },
        {
          name: '座位管理',
          url: '/pages/administratorEntry/page/seatManagement'
        }
      ]
    }
  },
  mounted () {
  },
  methods: {
    // 跳转页面
    jump (url) {
      uni.navigateTo({
        url: url,
      });


    },
  },
}
</script>

<style scoped lang="scss">
.homePage {
  height: 90vh;
  padding: 20rpx;
  view {
    margin-top: 40rpx;
  }
}
</style>
