<template>
  <view
    :style="
      'background-color: ' + (bgc || '#fff') + '; color: ' + (color || '#000')
    "
    class="headClass"
  >
    {{ title }}
    <img @click="back()" src="/static/back.png" style="width: 60rpx; height: 60rpx;" alt />
  </view>
</template>

<script>
export default {
  name: "",
  props: {
    title: {
      type: String,
      required: true,
    },
    // 背景颜色
    bgc: {
      type: String,
      // 设置默认值
      default: "#fff",
    },
    // 字体颜色
    color: {
      type: String,
      // 设置默认值
      default: "#000",
    },
  },
  data () {
    return {};
  },
  mounted () { },
  methods: {
    back () {
      uni.navigateBack({
        delta: 1,
      });
    },
  },
};
</script>

<style scoped lang="scss">
view {
  // border: 1px solid red;
}
.headClass {
  // margin-bottom: 40rpx;
  position: relative;
  width: 100%;
  height: 120rpx;
  background-color: #fff;
  line-height: 180rpx;
  text-align: center;
  font-size: 36rpx;
  font-weight: 600;
  font-family: 'PingFangSC';

  img {
    position: absolute;
    top: 76%;
    left: 10rpx;
    transform: translateY(-50%);
  }
}
</style>
