<template>
  <div class="main">
    <div class="webTitle">基于时间轴的经典名方组成以及制法信息系统</div>
    <div class="header">
      <div class="container">
        <h1 class="logo">
          <i class="el-icon-s-home" @click="goHomePage"></i>
        </h1>
        <section class="social">
          <h1 class="logo">
            <i class="el-icon-s-grid" @click="goListPage"></i>
          </h1>
        </section>
      </div>
    </div>
    <div class="content"   v-loading="loading">
      <div class="container" v-if="!loading">
        <h1 class="project-name">{{ ancientPrescription.name }} 演变时间线</h1>
        <div id="timeline">
          <div class="timeline-item" v-for="(item, index) in historyListReMark">
            <div class="timeline-icon">
              <div class="dynastyName">
                {{ item.dynasty }}
              </div>
            </div>
            <div class="timeline-content" :class="{ 'right': index % 2 !== 0}">
              <h2>{{ item.dynasty }}代文献收录  <span> {{ item['list'].length }} 篇</span></h2>
              <p v-for="(li,i) in item.list">
                {{ li.name }} {{ li.author }}
              </p>
              <a @click="openPop(item.list,item.dynasty,item.dynasty)" class="btn">查看详情</a>
            </div>
          </div>

        </div>
        <h1 class="project-name">{{ ancientPrescription.name }} 现代临床应用</h1>
        <div class="project-desc" v-html="ancientPrescription.clinical"></div>
      </div>
    </div>

<!--表格-->
    <el-dialog
      :title="ancientPrescription.name +' ' + currDynasty +'代文献收录情况' "
      :visible.sync="dialogVisible"
      center
      width="1400px"
      :before-close="handleClose">
     <div>
       <el-table
         :data="tableData"
         style="width: 100%"
         >
         <el-table-column
           prop="name"
           label="古籍名"
           width="200px"
          >
         </el-table-column>
         <el-table-column
           prop="dynasty"
           label="朝代"
           width="60px"
           >
         </el-table-column>
         <el-table-column
           prop="author"
           width="120px"
           label="编著者">
         </el-table-column>
         <el-table-column
           prop="alias"
           label="方名">
         </el-table-column>
         <el-table-column
           prop="fromto"
           width="250px"
           label="药物组成">
         </el-table-column>
         <el-table-column
           prop="decoction"
           width="250px"
           label="煎服法">
         </el-table-column>
         <el-table-column
           prop="indications"
           width="250px"
           label="药效主治">
         </el-table-column>
       </el-table>
     </div>
      <span slot="footer" class="dialog-footer">
    <el-button @click="handleClose" class="btn">返  回</el-button>
  </span>
    </el-dialog>

    <!--  回到顶部  -->
    <el-backtop :visibility-height="100">
      <i class="el-icon-caret-top" style="color: #3a7e89"></i>
    </el-backtop>
    <!--  底部  -->
    <div class="el-login-footer">
      <span>Copyright © 2024 基于时间轴的经典名方组成以及制法信息系统</span>
    </div>
  </div>
</template>

<script>
import { listAncientPrescriptionManage ,getAncientPrescriptionManage} from "@/api/system/ancientPrescriptionManage";


export default {
  name: "Login",
  data() {
    return {
      dialogVisible: false,
      dynasty:[],
      ancientPrescription:{},
      ancientPrescriptionHistoryList:[],
      historyListReMark:[],
      tableData: [],
      currDynasty:'',
      loading:true
    };
  },
  watch: {
    $route: {
      handler: function (route) {
        this.redirect = route.query && route.query.redirect;
      },
      immediate: true
    }
  },
  mounted() {
    this.getInfo()
  },
  methods: {
    getInfo(){
      this.getDicts("dynasty").then((res) => {
        getAncientPrescriptionManage(this.$route.query.id).then(response => {
          this.ancientPrescription = response.data
          this.ancientPrescriptionHistoryList = response.data.ancientPrescriptionHistoryList;
          let groupedData = this.groupBy(this.ancientPrescriptionHistoryList, 'dynasty');
          const arrayFromObject = Object.entries(groupedData).map(([dynasty, list]) => ({ dynasty, list }));
          arrayFromObject.sort((a, b) => {
            const sortA = res.data.find(item => item.dictLabel === a.dynasty).dictSort;
            const sortB = res.data.find(item => item.dictLabel === b.dynasty).dictSort;
            return sortA - sortB;
          });
          this.historyListReMark = arrayFromObject
          this.loading = false
        });
      });
    },

    groupBy(arr, key) {
      return arr.reduce(function (acc, obj) {
        var category = obj[key];
        if (!acc[category]) {
          acc[category] = [];
        }
        acc[category].push(obj);
        return acc;
      }, {});
    },

    goHomePage() {
      this.$router.push({path: '/main'})
    },

    goListPage() {
      this.$router.push({path: '/cloudList'})
    },
    openPop(list,currDynasty) {
      this.dialogVisible = true
      this.tableData = list
      this.currDynasty = currDynasty
    },
    handleClose(){
      this.dialogVisible = false
    },
    openMenu(){},

  }
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/images/contentBg.png");
  background-repeat: repeat-y;
  background-size: auto 100%;
  .webTitle {
    height: 100px;
    font-family: TitleFont;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    line-height: 100px;
    background-image: url("../../assets/images/headerBg.png");
    background-size: 100% 100px;
    width: 100%;
  }

  .menu {
    position: absolute;
    z-index: 9999;
    width: 300px;
    margin-top: 66px;
  }

  .content {
    width: 1000px;
    min-height: 100vh;
    margin: 40px 0 80px 0;
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 5px;

    .cloudList {
      width: 308px;
      height: 180px;
      line-height: 211px;
      background-image: url("../../assets/images/cloud1.png");
      background-size: 100% 100%;
      text-align: center;
      color: #3a7e89;
      font-size: 40px;
      font-family: TitleFont;
      cursor: pointer;
      margin: 20px;
    }

    .cloudList:hover {
      color: #164046;
    }

    .cloud {
      font-size: 40px;
      color: #ffffff;
    }
  }
}


.el-login-footer {
  background-image: url("../../assets/images/headerBg.png");
  background-size: 100% 100px;
  height: 100px;
  line-height: 100px;

  width: 100%;
  text-align: center;
  color: #fff;
  font-family: Arial;
  font-size: 14px;
  letter-spacing: 1px;
}

.login-code-img {
  height: 38px;
}


// Variables
$bg-body: #f9f9f9;

$red: #164046;
$blue: #164046;
$primary-color: $red;
$secondary-color: $blue;


// Typography
$base-font: TitleFont;
$base-font-title: TitleFont;

$base-font-color: #726f77;

// Timeline
$timeline-color: $primary-color;


// Mixins and Placeholders
%clearfix {
  &:after, &:before {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }
}

@mixin prefix($prop, $val) {
  @each $prefix in '-webkit-', '-moz-', '-ms-', '' {
    #{$prefix}#{$prop}: $val;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  background: $bg-body;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: $base-font;
  line-height: 20px;
  font-size: 14px;
  color: $base-font-color;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font: {
    family: $base-font-title;
    weight: 500;
  }
}

.project-name {
  text-align: center;
  padding: 10px 0;
  color: #ffffff;
  font-size: 34px;
}

.project-desc {
  display: block;
  color: rgb(102, 102, 102);
  text-indent: 2em;
  font-size: 18px;
  margin: 20px 0;
  line-height: 36px;
  background-image: url("../../assets/images/tableBg.png");
  background-size: 100% 100%;
  border-radius: 10px;
  padding:10px

}

// Header
.header {
  background: $secondary-color;
  width: 1000px;
  padding: 0 30px;
  @include prefix(box-shadow, 0 3px 3px rgba(0, 0, 0, 0.05));
  @extend %clearfix;
  border-radius: 0 0 10px 10px;


  .logo {
    color: #FFFFFF;
    float: left;
    font-family: TitleFont;
    position: relative;
    cursor: pointer;
    font: {
      size: 22px;
      weight: 500;
    }

    > span {
      color: lighten($primary-color, 20%);
      font-weight: 300;
    }
  }

  .logo:hover {
    box-shadow: none;
    top: 2px;
    left: 2px;
  }

  .social {
    float: right;

    .btn {
      font-family: "Dosis";
      font-size: 14px;
      margin: 10px 5px;
    }
  }
}


// Timeline
#timeline {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;
  @include prefix(transition, all .4s ease);

  &:before {
    content: "";
    width: 3px;
    height: 100%;
    background: $timeline-color;
    left: 50%;
    top: 0;
    position: absolute;
  }

  &:after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
  }

  .timeline-item {
    margin-bottom: 50px;
    position: relative;
    @extend %clearfix;

    .timeline-icon {
      background: $timeline-color;
      width: 60px;
      height: 60px;
      position: absolute;
      top: 0;
      left: 50%;
      overflow: hidden;
      margin-left: -26px;
      @include prefix(border-radius, 50%);

      text-align: center;

      .dynastyName {
        color: #ffffff;
        font-size: 40px;
        line-height: 60px;
        font-family: TitleFont;
      }
    }

    .timeline-content {
      width: 45%;
      background: #fff;
      padding: 20px;
      @include prefix(box-shadow, 0 3px 0 rgba(0, 0, 0, 0.1));
      @include prefix(border-radius, 5px);
      @include prefix(transition, all .3s ease);

      h2 {
        padding: 15px;
        background: $timeline-color;
        color: #fff;
        margin: -20px -20px 0 -20px;
        font-weight: 300;
        @include prefix(border-radius, 3px 3px 0 0);
      }

      &:before {
        content: '';
        position: absolute;
        left: 45%;
        top: 20px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 7px solid $timeline-color;
      }

      &.right {
        float: right;

        &:before {
          content: '';
          right: 45%;
          left: inherit;
          border-left: 0;
          border-right: 7px solid $timeline-color;
        }
      }
    }
  }
}

// Buttons
.btn {
  padding: 5px 15px;
  text-decoration: none;
  background: transparent;
  border: 2px solid lighten($primary-color, 10%);
  color: lighten($primary-color, 10%);
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  @include prefix(border-radius, 5px);
  @include prefix(transition, background .3s ease);
  @include prefix(box-shadow, 2px 2px 0 lighten($primary-color, 10%));

  &:hover {
    box-shadow: none;
    top: 2px;
    left: 2px;
    @include prefix(box-shadow, 2px 2px 0 transparent);
  }
}

@media screen and (max-width: 768px) {
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;

    &:before {
      left: 0;
    }

    .timeline-item {
      .timeline-content {
        width: 90%;
        float: right;

        &:before, &.right:before {
          left: 10%;
          margin-left: -6px;
          border-left: 0;
          border-right: 7px solid $timeline-color;
        }
      }

      .timeline-icon {
        left: 0;
      }
    }
  }
}

::v-deep .el-dialog{
  display: flex;
  flex-direction: column;
  margin:0 !important;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  max-height:calc(100% - 30px);
  max-width:calc(100% - 30px);
  background-image: url("../../assets/images/tableBg.png");
  background-size: 100% 100px;

  .el-dialog__title{
    font-size: 30px;
    font-family: TitleFont;
    color: #164046;
  }
}
::v-deep  .el-dialog .el-dialog__body{
  flex:1;
  overflow: auto;
}
</style>
