<template>
  <div class="main">
    <div class="webTitle">基于时间轴的经典名方组成以及制法信息系统</div>
    <div class="content">
      <div class="pageTitle">中国十大古方</div>
      <div class="pageContent">
        <div v-for="(item,index) in ancientPrescriptionList " :key="item.id" class="cloudList" @click="goCloudPage(item.id)" :style="{ backgroundImage: 'url(' + require(`../../assets/images/cloud${getLastDigit(index)}.png`) + ')' }">
          <div class="cloudListName">{{ item.name }}</div>
        </div>
      </div>
    </div>
    <!--  底部  -->
    <div class="el-login-footer">
      <span>Copyright © 2024 基于时间轴的经典名方组成以及制法信息系统</span>
    </div>
  </div>
</template>
<script>
import { listAncientPrescriptionManage ,getAncientPrescriptionManage} from "@/api/system/ancientPrescriptionManage";

export default {
  name: "Login",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 总条数
      total: 0,
      // 古方表格数据
      ancientPrescriptionList: [],
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        name: null,
      },

    };
  },
  watch: {
    $route: {
      handler: function (route) {
        this.redirect = route.query && route.query.redirect;
      },
      immediate: true
    }
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询古方列表 */
    getList() {
      this.loading = true;
      listAncientPrescriptionManage(this.queryParams).then(response => {
        this.ancientPrescriptionList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    goCloudPage(id) {
      this.$router.push({path: '/cloudInfo', query: {id: id}})
    },
    getLastDigit(number) {
      return number % 10 + 1; // 获取正整数的最后一位数字
    }
  }
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/images/contentBg.png");
  background-size: 100% 100%;
  .webTitle {
    height: 100px;
    font-family: TitleFont;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    line-height: 100px;
    background-image: url("../../assets/images/headerBg.png");
    background-size: 100% 100px;
    width: 100%;
  }

  .content {
    width: 1000px;
    margin: 40px 0;
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: rgba(255,255,255,.3);
    border-radius: 5px;


    .pageTitle{
      font-family: TitleFont;
      margin: 0 auto;
      font-size: 40px;
      color: #ffffff;
    }
    .pageContent{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .cloudList{
        width: 248px;
        height: 140px;
        line-height: 140px;
        background-image: url("../../assets/images/cloud1.png");
        background-size: 100% 100%;
        text-align: center;
        color: #3a7e89;
        font-size: 24px;
        font-family: TitleFont;
        cursor: pointer;
        margin: 20px;
        position: relative;
      }
      .cloudList:hover{
        color: #164046;
        box-shadow: none ;
        top: 2px;
        left: 2px;
      }
    }



    .cloud {
      font-size: 40px;
      color: #ffffff;
    }


  }

}


.el-login-footer {
  background-image: url("../../assets/images/headerBg.png");
  background-size: 100% 100px;
  height: 100px;
  line-height: 100px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: Arial;
  font-size: 14px;
  letter-spacing: 1px;
}

.login-code-img {
  height: 38px;
}


</style>
