<!--关于我们-->
<template>
  <div class='about'>
      <div class="box" @click="toJump">
        <div class="box__title">我国养猫人数超过养狗人数，狗狗“哭”晕在厕所~</div>
        <div class="box__main">
          有人知道我国最受欢迎的宠物会是哪位吗？肯定会有不少小伙伴认为：那必然是人类的好伙伴狗狗呀！小编起初也是这么想的，但随着互联网时代的发展，猫猫出现在公众视野的次数远比狗狗的多，再结合一下国家财经数据发现，全国养猫人数逐年增加，力压养狗人群！据2021年的财经数据统计，我国饲养犬猫的人群数量达到6844万人，其中近一半是“90后”宠主，而这一半的“90后”宠主几乎都是养猫大户，为何这么说呢？他们养猫就算了，至少还是2只！甚至更多！这让隔壁的狗狗哭晕在厕所了TAT
        </div>
      </div>
      <div class="box" @click="toJump">
        <div class="box__title">世界最年长的狗狗去世，享年22岁</div>
        <div class="box__main">
          熟知宠物的小伙伴都知道，狗狗的平均年龄为12~14岁，能够健康地活到10岁的狗狗更是少之又少，但你知道世界最年长的狗狗有多大年纪吗？它曾获吉尼斯纪录被评为最年长的狗，如今该狗狗又更新了最新动态，一起来看看是个怎么回事吧。
        </div>
        <div class="box__main">
          该世界最年长的狗狗是一条猎狐犬，名为“佩布尔斯”，出生于2000年3月28日，同年被来自美国南卡罗来纳州的“朱莉·格雷戈里”和“鲍比”夫妇收养，至今已满22岁！专业人士分析，佩布尔斯的年纪相当于人类的140岁左右！难以想象它的一生是如此的健康且快乐。
        </div>
      </div>
      <div class="box" @click="toJump">
        <div class="box__title">2023湖南宠物产业博览会暨世界名犬赛邀请函</div>
        <div class="box__main">
          《2022—2023年我国宠物产业发展及消费者调研研究报告》显示，2022年，中国宠物经济产业规模达4936亿元，宠物数量约3.2亿只，中国城市养宠年增速高达20%以上，宠物的“衣食住行”加医美，“她经济”进入向阳产业。中国宠物行业市场规模每年都在稳步提升，2021年比2020年增长20.58%，从2016年到2021年的五年时间里市场规模翻了一倍。而且在未来3-5年内，宠物行业将继续维持20%以上的高增长，中国对宠物食品、用品、医疗保健和服务相关产品的巨大需求很快将超越欧洲，成为全球三大宠物经济体之一。
        </div>
      </div>
      <div class="box" @click="toJump">
        <div class="box__title">流浪狗参加了一场改变它后半生的婚礼</div>
        <div class="box__main">
          近段时间，在巴西的一对新人婚礼现场上，一条流浪狗在教堂前不但没有惹麻烦，还静静地注视着里边的情况，似乎在向这对新人发起祝福。狗狗停留在教堂门口，婚礼组织者担心影响现场就想让狗子离开，可它久久并没有离去的意思。

在此期间，婚礼组织者多次想赶走狗子，但是狗狗就是不想走，似乎心意已决。婚礼组织者实在没办法，而且它也没有给婚礼现场制造麻烦，干脆就让它参加完这一次的婚礼.婚礼接触后，当这对新人走出教堂时，狗狗热情上前迎接。

狗狗的行为不但感动了参加婚礼的人们，还让这对新人感到特别意外，新娘更是当场宣布收养这条流浪狗。婚礼结束后这对新人带狗狗到当地宠物医院进行检查和治疗，狗狗也日渐恢复状态，现如今狗狗每天都很快乐地跟这对新人开启崭新的人生。
        </div>
      </div>
      <div class="box" @click="toJump">
        <div class="box__title">Maddie与摄影师的奇妙冒险</div>
        <div class="box__main">
          主人Humphrey在Facebook上每天都更新他们在这趟冒险旅途上发生有趣的事情和每到一个地方都会有相关文字与图片信息。在Humphrey的Facebook上对于他这次的冒险旅行目的，他是这么写的：“在旅行过程中，寻找喜欢电动汽车的女性朋友，并准备事后将记录分享他们的25个特别的故事。这次旅行特别有意义，我们准备开辟新的洲际大道，专门走一些地图上看不到或是没人走的偏僻小路。“
        </div>
      </div>
  </div>
</template>

<script>
  export default {
    name: 'about',
    data () {
      return {}
    },
    methods:{
      toJump() {
        location.href="/about/aboutdetail"
      }
    }
  }
</script>
<style scoped>
  .box {
    margin: 0 auto;
    width: 170em;
    border-radius: 0.5em;
    padding: 2.6em;
    background-color: #FFF
  }
  .box__title {
    font-weight: bold;
    font-size: 2.5em;
  }
  .box__main {
    font-size: 1.5rem;
  }
</style>