<!--关于我们-->
<template>
  <div class='app'>
      <h1>我国养猫人数超过养狗人数，狗狗“哭”晕在厕所~</h1>
      <p>有人知道我国最受欢迎的宠物会是哪位吗？肯定会有不少小伙伴认为：那必然是人类的好伙伴狗狗呀！小编起初也是这么想的，但随着互联网时代的发展，猫猫出现在公众视野的次数远比狗狗的多，再结合一下国家财经数据发现，全国养猫人数逐年增加，力压养狗人群！据2021年的财经数据统计，我国饲养犬猫的人群数量达到6844万人，其中近一半是“90后”宠主，而这一半的“90后”宠主几乎都是养猫大户，为何这么说呢？他们养猫就算了，至少还是2只！甚至更多！这让隔壁的狗狗哭晕在厕所了TAT</p>
      <img src="../../assets/img/1.jpg" alt="">
      <p>据2021年的财经数据统计，我国饲养犬猫的人群数量达到6844万人，其中近一半是“90后”宠主，而这一半的“90后”宠主几乎都是养猫大户，为何这么说呢？他们养猫就算了，至少还是2只！甚至更多！这让隔壁的狗狗哭晕在厕所了TAT</p>
      <img src="../../assets/img/2.jpg" alt="">
      
      <p>到今年2022年，我国饲养猫猫的人群数量仍以一个稳定增长的趋势发展。</p>
      <p>造成这一现象的说法有很多，最有意思的是爱狗人士的网友，他们认为，之所以猫会成为全国宠物数量排行榜的第一肯定是因为短视频养猫的风气影响，大部分年轻人都跑去养猫了，而“出镜率”低的狗只能默默地忍着。</p>
      <p>更有网友以奇怪的比喻讲述了他个人观点：狗狗作为老演员，跟不上潮流正常，哪些那些猫咪小鲜肉，个顶个的fashion cat。</p>
      <p>小编认为，无论是养猫还是养狗，至少能够证明我国的宠物文化是有在向前发展的，而对于很多独居人士来说，宠物逐渐从陪伴者上升到亲人的角色，那么这也从中促进了宠物产业的发展，说夸张点的甚至是影响了国家GDP发展。</p>
      <p>不知道大家是更喜欢猫咪还是狗狗呢？欢迎大家在评论区分享自己的看法以及有趣的事情，健康生活，快乐养宠，感谢大家观看！</p>
      <p></p>
      <p></p>
      <p></p>
  </div>
</template>

<script>
  export default {
    name: 'app',
    data () {
      return {}
    },
    methods:{
      toJump() {
        console.log('1123')
      }
    }
  }
</script>
<style scoped>
.app {
  text-align: center;
}
.app p {
  padding: 0 2.8rem;
  font-size: 20px;
  text-align: left;
}
  .box {
    margin: 0 auto;
    width: 170em;
    border-radius: 0.5em;
    padding: 2.6em;
    background-color: #FFF
  }
  .box__title {
    font-weight: bold;
    font-size: 2.5em;
  }
  .box__main {
    font-size: 1.5rem;
  }
</style>