<template>
  <view>
    <view>
      <page-header title=" " />
    </view>
    <view class="homePage">
      <view class="title">
        <h2>{{announcement. noticeTitle}}</h2>
      </view>
      <view class="content">{{announcement.noticeContent}}</view>
    </view>
  </view>
</template>

<script>
export default {
  name: '',
  data () {
    return {
      announcement: null
    }
  },
  onLoad (opData) {
    this.announcement = JSON.parse(opData.data)
    console.log(this.announcement)
  },
  mounted () {
  },
  methods: {
  },
}
</script>

<style scoped lang="scss">
.homePage {
  padding: 20rpx;
  height: 100vh;

  .title {
    text-align: center;
  }
  .content {
    margin-top: 20rpx;
    text-align: center;
    // 设置阅读样式
    font-size: 30rpx;
    color: #666;
    line-height: 1.5;
    text-indent: 2em;
    text-align: justify;
    text-justify: distribute-all-lines;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-break: break-all;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    padding: 20rpx;
    background-color: #fff;
    border-radius: 10rpx;
    // box-shadow: 0 0 10rpx #ccc;
    margin-bottom: 20rpx;
    h2 {
      font-size: 40rpx;
      color: #333;
      font-weight: 500;
    }
  }
}
</style>
