<template>
  <view class="homePage">
    <!-- 首页标头图片 -->
    <view class="homePagePicture">
      <img src="../../static/library-centre.jpg" alt />
    </view>
    <view class="box">
      <view class="top">
        <view @click="jump('/pages/makeAnAppointment/index')" class="function">
          <!-- 功能按钮 -->

          <view class="btn">座位预约</view>
          <view class="backgroundMap">
            <img src="../../static/yuyue.png" alt />
          </view>
        </view>
        <view @click="jump('/pages/announcement/index')" class="function">
          <view class="btn">通知公告</view>
          <view class="backgroundMap">
            <img src="../../static/gonggao.png" alt />
          </view>
        </view>
      </view>
      <view class="bottom">
        <view @click="jump('/pages/opinionFeedback/index')" class="function">
          <view class="btn">意见反馈</view>
          <view class="backgroundMap">
            <img src="../../static/fankui.png" alt />
          </view>
        </view>
        <view @click="jump('/pages/reservationManagement/index')" class="function">
          <view class="btn">预约管理</view>
          <view class="backgroundMap">
            <img src="../../static/guanli.png" alt />
          </view>
        </view>
      </view>
      <view v-if="admin" class="administrator">
        <view @click="jump('/pages/administratorEntry/index')" class="function">
          <view class="btn">管理员入口</view>
        </view>
      </view>
      <view class="administrator">
        <view @click="logout()" class="function">
          <view class="btn">退出登录</view>
        </view>
      </view>
    </view>
  </view>
</template>

<script>
import { getInfo } from "@/api/api";
export default {
  name: "",
  data () {
    return {
      admin: false
    };
  },

  onLoad () {
    getInfo().then((res) => {
      let { code, user } = res

      if (code == 200) {
        // 存储user
        uni.setStorageSync("userData", user);

        this.UserData = user;

        console.log(this.UserData.admin)
        this.admin = this.UserData.admin
      }

    }).catch(() => {

    });
  },
  mounted () {

  },
  methods: {
    // 跳转页面
    jump (url) {
      uni.navigateTo({
        url: url,
      });


    },

    // 退出登录
    logout () {
      // 询问
      uni.showModal({
        title: "提示",
        content: "是否退出登录",
        success: (res) => {
          if (res.confirm) {
            uni.removeStorageSync("userData");
            uni.navigateTo({
              url: "/pages/login/index",
            });
          }
        },
      });

    },
  },
};
</script>

<style scoped lang="scss">
view {
  //   border: 1px solid red;
}
.homePage {
  height: 97vh;
  background-color: #f5f5f6;
  .homePagePicture {
    height: 460rpx;
    img {
      // width: 100%;
      height: 100%;
      // 图片居中显示
      display: block;
      margin: 0 auto;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10rpx;
      box-shadow: 0 0 10rpx #ccc;
      box-sizing: border-box;
    }
  }

  .box {
    // 占满父组件剩余高度
    height: calc(100% - 460rpx);
    // height: 100%;
    display: flex;
    flex-direction: column;

    .top {
      flex: 1;
      display: flex;
      .function {
        background-color: #fff;
        flex: 1;
        margin: 20rpx;
        // 阴影
        box-shadow: 0 0 10rpx #ccc;
        position: relative;
        .btn {
          // 设置宋体
          font-family: '宋体';
          font-weight: 600;
          border-radius: 20rpx;
          position: absolute;
          width: 80%;
          height: 100rpx;
          background-image: url('../../static/muwen.jpg');
          background-size: 100% 100%;
          top: 10%;
          left: 50%;
          transform: translateX(-50%);
          font-size: 50rpx;
          text-align: center;
          line-height: 100rpx;
          color: #fff;
        }
        .backgroundMap {
          position: absolute;
          width: 180rpx;
          height: 180rpx;
          top: 60%;
          left: 50%;
          transform: translate(-50%, -50%);

          img {
            width: 180rpx;
            height: 180rpx;
          }
        }
      }
    }

    .bottom {
      flex: 1;
      display: flex;
      .function {
        background-color: #fff;
        position: relative;
        flex: 1;
        margin: 20rpx;
        box-shadow: 0 0 10rpx #ccc;
        .btn {
          // 设置宋体
          font-family: '宋体';
          font-weight: 600;
          border-radius: 20rpx;
          position: absolute;
          width: 80%;
          height: 100rpx;
          background-image: url('../../static/muwen.jpg');
          background-size: 100% 100%;
          top: 10%;
          left: 50%;
          transform: translateX(-50%);
          font-size: 50rpx;
          text-align: center;
          line-height: 100rpx;
          color: #fff;
        }
        .backgroundMap {
          position: absolute;
          width: 180rpx;
          height: 180rpx;
          top: 60%;
          left: 50%;
          transform: translate(-50%, -50%);

          img {
            width: 180rpx;
            height: 180rpx;
          }
        }
      }
    }

    .administrator {
      flex: 0.3;
      .function {
        background-color: #fff;
        flex: 1;
        margin: 20rpx;
        // 阴影
        box-shadow: 0 0 10rpx #ccc;
        position: relative;
        .btn {
          // 设置宋体
          font-family: '宋体';
          font-weight: 600;
          border-radius: 20rpx;
          position: absolute;
          width: 80%;
          height: 100rpx;
          background-image: url('../../static/muwen.jpg');
          background-size: 100% 100%;
          top: 10%;
          left: 50%;
          transform: translateX(-50%);
          font-size: 50rpx;
          text-align: center;
          line-height: 100rpx;
          color: #fff;
        }
        .backgroundMap {
          position: absolute;
          width: 180rpx;
          height: 180rpx;
          top: 60%;
          left: 50%;
          transform: translate(-50%, -50%);

          img {
            width: 180rpx;
            height: 180rpx;
          }
        }
      }
    }
  }
}
</style>
