<template>
  <view class="homePage">
    <!-- 登录盒 -->
    <view class="loginBox">
      <view class="title">
        <span>登录</span>
      </view>
      <view class="regBox">
        <view>
          <view class="inputBox">
            <span>学号:</span>
            <input v-model="form.username" type="text" placeholder="请输入学号" />
          </view>
          <view class="inputBox">
            <span>密码:</span>
            <input v-model="form.password" type="password" placeholder="请输入密码" />
          </view>
          <view v-if="false" class="operation">
            <view class="rememberThePassword">
              <!-- 圆形复选框 -->

              <checkbox @click="rememberThePassword = !rememberThePassword" />

              <span>记住密码</span>
            </view>
            <view class="forgetPwd">
              <span>忘记密码</span>
            </view>
          </view>
          <!-- 注册按钮 -->
          <view class="reg">
            <button @click="logInToApp" class="regBtn">登录</button>
          </view>
        </view>
      </view>
    </view>
    <!-- <view @click="navigateTo('/pages/registered/index')" class="prompt">
      <span>还没有账号?</span>
      <b>立即注册</b>
    </view>-->
  </view>
</template>

<script>
import { login } from "../../api/api.js";
export default {
  name: "",
  data () {
    return {
      form: {
        username: null,
        password: null,
        rememberMe: false
      },

      // 是否记住密码
      rememberThePassword: null,
    };
  },

  mounted () { },
  methods: {
    navigateTo (path) {
      uni.navigateTo({
        url: path,
      });
    },

    // 登录app
    logInToApp () {
      // 判空
      if (this.form.username == null || this.form.password == null) {
        uni.showToast({
          title: "请填写完整信息",
          icon: "none",
        });
        return;
      }
      login(this.form)
        .then((res) => {

          let { code, msg, token } = res
          if (code == 200) {

            // 将token存储至本地
            uni.setStorageSync("App-Token", token);
            uni.showToast({
              title: "登录成功",
              icon: "none",
            });

            uni.navigateTo({
              url: '/pages/home/index',
            });
          } else {
            uni.showToast({
              title: msg,
              icon: "none",
            });
          }
        })
        .catch(() => { });
    },
  },
};
</script>

<style scoped lang="scss">
view {
  // border: 1px solid red;
}
// 样式穿透到uniapp组件 deep
/deep/ .uni-checkbox-input {
  border-radius: 50%;
}

.homePage {
  width: 100%;
  height: 100vh;
  padding-top: 266rpx;
  // padding: 266rpx 40rpx 0 40rpx;
  position: relative;

  .loginBox {
    width: 80%;
    height: 1140rpx;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    // 立即注册标题
    .title {
      font-size: 64rpx;
      font-family: 'PingFangSC';
      color: rgb(0, 0, 0);
      line-height: 1.613;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }

  .regBox {
    .inputBox {
      margin: 10px 0;
      padding: 20rpx;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ebebeb;
    }

    input::placeholder {
      color: red;
    }
    .inputBox span {
      margin-right: 40rpx; /* 可根据实际需要进行调整 */
      font-weight: 600;
    }
    .send {
      color: #3169f7;
      font-weight: 500;
      border-left: 1px solid #3169f7;
      padding-left: 20rpx;
      font-size: 30rpx;
    }

    .reg {
      margin-top: 50px;

      .regBtn {
        background-color: #3169f7;
        color: #fff;
        border-radius: 40rpx;
      }
    }
  }
  .prompt {
    position: fixed;
    bottom: 60rpx;
    left: 50%;
    transform: translate(-50%, 0);
    span {
      color: #b5b5b5;
      // font-size: 30rpx;
    }
  }
}

.operation {
  display: flex;
  color: #b5b5b5;
  font-size: 30rpx;

  .rememberThePassword {
    flex: 1;
  }
  .forgetPwd {
    flex: 1;
    text-align: right;
  }
}
</style>
