<template>
  <div>
    <!--宠物医疗服务-->
    <div class="container" style="margin-bottom: 20px;margin-top: 20px">
      <div class="section--header" style="margin-top: -50px;margin-bottom: 30px;">
        <h2 class="section--title">宠物医疗服务</h2>
        <p class="section--description">
          生命至高无上， 守护一世健康
          <br>
        </p>
      </div>
      <div class="about-container">
        <div class="our-mission">
          <div class="am-g">
            <ul v-for="item in MedicalList">
              <li>
                <div class="am-u-md-3">
                  <div class="our_mission--item">
                    <div class="figure our_mission--item_media"><img
                      :src="item.img" alt=""></div>
                    <h3 class="our_mission--item_title">{{item.name}}</h3>
                      <el-button @click="openDialog(item)">预约</el-button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          </div>
        </div>
    </div>
    <hr/>
    <!--美容服务 -->
    <div class="container">
      <div class="section--header" style="margin-top: 50px;margin-bottom: 30px;">
        <h2 class="section--title">宠物美容服务</h2>
        <p class="section--description">
          生命至高无上， 守护一世健康
          <br>
        </p>
        <el-table
          :data="beautyList"
          style="width: 100%">
          <el-table-column
            prop="name"
            label="美容项目"
            width="180">
          </el-table-column>
          <el-table-column
            prop="content"
            label="介绍"
            width="500">
          </el-table-column>
          <el-table-column
            prop="price"
            label="价格">
          </el-table-column>
          <el-table-column
            label="操作">
            <template slot-scope="scope">
            <el-button @click="openDialog(scope.row)">预约</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
    <hr/>
    <!--训练服务 -->
    <div class="container">
      <div class="section--header" style="margin-top: 50px;margin-bottom: 30px;">
        <h2 class="section--title">宠物训练服务</h2>
        <p class="section--description">
          生命至高无上， 守护一世健康
          <br>
        </p>
        <el-table
          :data="beautyList"
          style="width: 100%">
          <el-table-column
            prop="name"
            label="训练项目"
            width="180">
          </el-table-column>
          <el-table-column
            prop="content"
            label="介绍"
            width="500">
          </el-table-column>
          <el-table-column
            prop="price"
            label="价格">
          </el-table-column>
          <el-table-column
            label="操作">
            <template slot-scope="scope">
              <el-button @click="openDialog(scope.row)">预约</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
    <hr/>
    <!-- 寄养服务-->
    <div class="container">
      <div class="section--header" style="margin-top: 50px;margin-bottom: 30px;">
        <h2 class="section--title">宠物寄养服务
        </h2>
        <p class="section--description">
          专业的服务团队，丰富的宠物服务经验与专业的素养
          <br>
        </p>
        <div class="hb-body">
          <div class="hb-body-inner editor_content_air">
            <div class="wap-add-img"><p></p>
              <p style="text-align: center;margin:0;"><img
                src="https://aimg8.dlssyht.cn/u/2193569/ueditor/image/1097/2193569/1657509725986639.jpg"
                title="1657509725986639.jpg" alt="宠物寄养.jpg"></p>
              <div class="hb-body-content">
                <p style="line-height: 3em;">宿舍环境：每只犬享有单独宿舍，或者选择人居环境3平方米防滑地板，餐具专用。 运动环境
                  每只犬享有室外无限制的活动空间。</p>
                <p style="line-height: 3em;">宿舍环境：每只犬享有单独宿舍，或者选择人居环境，防滑地板，餐具专用。</p>
                <p style="line-height: 3em;">运动环境：每只犬享有室外无限制的活动空间。</p>
                <p style="line-height: 3em;">
                  身体保健：由专业人员每周负责检查犬只身体状况。专用皮肤、骨骼、被毛、牙齿、肠道的保健品，多种微量元素营养品，根据犬主要求安排。</p>
                <p style="line-height: 3em;">美容服务：定期洗澡</p>
                <p style="line-height: 3em;">
                  饮食安排：优质犬粮（如对犬粮有特殊要求，由犬主自备犬粮）。如果狗狗在家习惯吃肉，我们可根据主人的要求每日喂给，但是费用由主人承担。
                  主人提供的附加保健品（不需要加工的）在档案记录由训练员每餐配给。个性食物：每天提供牛奶、鸡蛋、（根据狗狗的年龄和实际需要提供）</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- 训练服务-->
    <div class="container">

    </div>
    <el-dialog
      title="选择预约时间"
      :visible.sync="dialogVisible"
      width="30%"
      @closed="handleDialogClosed"
    >
      <el-date-picker
        v-model="pickedTime"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <div slot="footer" style="float: left;margin-top: 30px">
        <el-button @click="closeDialog">取消</el-button>
        <el-button type="primary" @click="submitForm">确定</el-button>
      </div>
    </el-dialog>
  </div>

</template>

<script>


import {getAllCosmetic, getAllMedical, getAllTrain, save, saveAm} from "@/network/service";
import th from "element-ui/src/locale/lang/th";
import row from "element-ui/packages/row";

export default {
  computed: {
    row() {
      return row
    }
  },
  data() {
    return {
      MedicalList:[],
      beautyList: [],
      trainList: [],
      dialogVisible: false,
      //预约时间
      pickedTime: '',
      currentAppointment: {
        uid:'',name:'',time:'',price:''
      },
      type:''
    }
  },
  methods:{
    closeDialog() {
      this.dialogVisible = false;
    },
    openDialog(row) {
      console.log(row)
      this.currentAppointment.name = row.name;
      this.currentAppointment.price = row.price;
      this.dialogVisible = true;
    },
    handleDialogClosed() {
      // 在弹出框关闭时执行的逻辑
      // 可以根据需求进行处理
    },
    submitForm(){
      this.currentAppointment.time = this.pickedTime
      this.currentAppointment.uid = this.$store.state.uid
      if (this.type){
        saveAm(this.currentAppointment).then(res => {}).catch(err => {
          this.$alert("预约失败")
        })
      }else {
        save(this.currentAppointment).then(res => {}).catch(err => {
          this.$alert("预约失败")
        })
      }
      this.dialogVisible = false
    },
  },
  created() {
    getAllCosmetic().then(res => {
      this.beautyList = res.data
    })
      getAllTrain().then(res => {
        this.trainList = res.data
      })
    getAllMedical().then(res =>{
      this.MedicalList = res
      this.type = "medical"
    })
  }
}
</script>
<style scoped>
.am-g {
  margin: 0 auto;
  width: 100%;
  display: flex;
}

ul{
  padding: 15px;
}
.our-mission .our_mission--item .our_mission--item_media {
  border-radius: 3px;
  overflow: hidden;
}

.our-mission .our_mission--item {
  position: relative;
  margin-top: 30px;
}

.section--header .section--description {
  font-size: 20px;
  line-height: 30px;
  color: #391b1b;
  text-align: center;
  margin: 13px 0 0;
}

.section--header .section--title {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
}

.hb-body {
  overflow: hidden;
  clear: both;
  font-size: 15px;
  color: #391b1b;
}

.hb-body .hb-body-content {
  margin-left: 200px;
}

.MoBodyC .liHover {
  display: inline;
}

/deep/ .el-dialog {
  height: 50vh;
  overflow: auto;
}
</style>
