<template>
  <view>
    <view>
      <page-header title="座位预约" />
    </view>
    <view class="homePage">
      <view class="TABSeat">
        <view
          @click="selectTheStudyRoom(item,index)"
          :class="currentSelfStudyRoom == index ? 'tabBox':'checkTab'"
          v-for="(item,index) in listOfStudyRooms"
        >{{item.name}}</view>
      </view>
      <view class="TABSeat">
        <view
          @click="getTimeRangeTimestamps(item.name,index,item.remark)"
          :class="timeRangeTimestamps == index ? 'tabBox':'checkTab'"
          v-for="(item,index) in listOfTimePeriods"
        >{{item.name}}</view>
      </view>
      <view v-if="!UserData.score" style="text-align: center">信誉分:暂无</view>
      <view v-else style="text-align: center">信誉分:{{ UserData.score}}</view>
      <view class="studyRoom">
        <view
          v-if="listOfSeats.length != 0"
          @click="selectSeat(item,index)"
          v-for="(item,index) in listOfSeats"
          :class="currentlySelected == index ? 'boxSelect'  :'boxSeat' "
        >
          <span class="title">{{item.seatNumber}}号</span>
          <!-- 座椅图标 -->
          <view class="icon"></view>
          <span v-if="item.seatStatus == 0" class="status">可用</span>
          <span v-if="item.seatStatus == 1" class="status">故障</span>
          <span v-if="item.seatStatus == 2" class="status">已预约</span>
        </view>
        <view v-else>暂无座位</view>
      </view>
      <!-- 占位符,为防止按钮遮挡座位 -->
      <view style="height: 100rpx"></view>

      <view @click="confirmSeat" class="makeAnAppointment">确认座位</view>
    </view>
    <u-popup :show="show" :round="10" mode="bottom" @close="close" @open="open">
      <view class="eject">
        <!-- <view class="timePeriod">
          <view @click="getTimeRangeTimestamps('上午')">上午</view>
          <view @click="getTimeRangeTimestamps('下午')">下午</view>
          <view @click="getTimeRangeTimestamps('晚上')">晚上</view>
        </view>-->
        <!-- <view @click="timeSelection(1)" class="itemBox"> -->
        <view class="itemBox">
          <view class="title">预约开始时间:</view>
          <view>
            <span>{{form.startTime}}</span>
          </view>
        </view>
        <view class="itemBox">
          <view class="title">预约结束时间:</view>
          <view>
            <span>{{form.endTime}}</span>
          </view>
        </view>
        <!-- <view class="currentReservation">当前预约座位:{{query.seatLocation}},{{ form.seatNumber}}号座位</view> -->
        <view @click="addReservation" class="makeAnAppointment">预约</view>
        <!-- 时间选择器 -->
        <view class="time">
          <u-datetime-picker
            @confirm="TimeConfirm"
            @cancel="TimeShow = false"
            :show="TimeShow"
            v-model="value1"
            mode="datetime"
            :maxDate="maxDate"
            :minDate="minDate"
          ></u-datetime-picker>
        </view>
      </view>
    </u-popup>
  </view>
</template>

<script>

import { seatList, reservationAdd, seatSeatList } from '@/api/api.js'
export default {
  name: '',
  data () {
    return {
      //   当前自习室
      currentSelfStudyRoom: 0,
      // 当前选中座位
      currentlySelected: null,
      // 当前选中时间段
      timeRangeTimestamps: null,



      show: false,

      // 时间选择器存储
      value1: Number(new Date()),
      // 时间选择器弹窗
      TimeShow: false,
      // 时间选择器最大最小时间
      maxDate: null,
      minDate: null,

      // 提交表单
      form: {
        startTime: '',
        endTime: '',
      },

      // 判定当前选择开始还是结束时间,1开始2结束
      status: null,

      // 自习室列表
      listOfStudyRooms: [
        {
          name: '自习室A区',

        },
        {
          name: '自习室B区',
        },
        {
          name: '自习室C区',
        }
      ],
      // 自习室列表
      listOfTimePeriods: [
        {
          name: '上午',
          remark: 1

        },
        {
          name: '下午',
          remark: 2
        },
        {
          name: '晚上',
          remark: 3
        }
      ],
      // 座位列表
      listOfSeats: [],

      query: {
        seatLocation: '自习室A区',
        remark: this.timeRangeTimestamps
      },

      UserData: {},
      // 座位信息
      seat: {}



    }
  },
  mounted () {

    // 设置选择器时间
    const { currentTimestamp, sevenDaysLaterTimestamp } = this.getTimestamps();

    this.maxDate = sevenDaysLaterTimestamp;
    this.minDate = currentTimestamp;

    // 获取座位列表
    this.getList()

    // 获取用户信息
    this.getUserInfo()
  },
  methods: {

    // 读取用户信息
    getUserInfo () {
      uni.getStorage({
        key: 'userData',
        success: (res) => {
          this.UserData = res.data

          console.log(res.data)

          this.form.studentId = res.data.userId
        }
      })
    },
    // 选中自习室
    selectTheStudyRoom (item, index) {
      this.query.seatLocation = item.name
      this.currentSelfStudyRoom = index
      //   清空选中座位
      this.currentlySelected = null

      this.getList()
    },
    // 选中座位
    selectSeat (item, index) {
      this.currentlySelected = index

      console.log(item)
      // 存储座位传参
      // this.form.remark = item.remark
      this.form.seatId = item.seatId
      // this.form.seatNumber = item.seatNumber

      this.seat = item
    },
    open () {
      // console.log('open');
    },
    close () {
      this.show = false
      // console.log('close');
    },
    // 开启时间选择器
    timeSelection (status) {
      // 存储开始或结束判定
      this.status = status

      this.TimeShow = true
    },

    // 确定时间
    TimeConfirm (data) {
      console.log(this.formatDate(data.value))
      // 存储时间
      if (this.status == 1) {
        this.form.startTime = this.formatDate(data.value)
      } else {
        this.form.endTime = this.formatDate(data.value)
      }

      this.TimeShow = false
    },

    // 快捷时间
    fastTime (startTime, endTime) {
      this.form.startTime = this.formatDate(startTime)
      this.form.endTime = this.formatDate(endTime)
    },
    // 时间戳格式化
    formatDate (timestamp) {
      const date = new Date(timestamp);
      const year = date.getFullYear();
      const month = String(date.getMonth() + 1).padStart(2, '0');
      const day = String(date.getDate()).padStart(2, '0');
      const hour = String(date.getHours()).padStart(2, '0');
      const minutes = String(date.getMinutes()).padStart(2, '0');

      return `${year}-${month}-${day} ${hour}:${minutes}`;
    },
    // 获取当时时间与七天后时间
    getTimestamps () {
      const currentDate = new Date();
      const currentTimestamp = currentDate.getTime();

      const sevenDaysLater = new Date();
      sevenDaysLater.setDate(currentDate.getDate() + 7);
      const sevenDaysLaterTimestamp = sevenDaysLater.getTime();

      return { currentTimestamp, sevenDaysLaterTimestamp };
    },

    // 获取 上午 下午 晚上的时间戳
    getTimeRangeTimestamps (timeRange, index, remark) {

      this.timeRangeTimestamps = index
      this.form.timeSlot = remark
      this.query.remark = remark
      const currentDate = new Date();
      const tomorrowDate = new Date(currentDate);
      tomorrowDate.setDate(currentDate.getDate() + 1); // 将日期设置为明天

      const tomorrowYear = tomorrowDate.getFullYear();
      const tomorrowMonth = tomorrowDate.getMonth();
      const tomorrowDay = tomorrowDate.getDate();

      let startTime;
      let endTime;

      if (timeRange === "上午") {
        startTime = new Date(tomorrowYear, tomorrowMonth, tomorrowDay, 8, 0, 0).getTime();
        endTime = new Date(tomorrowYear, tomorrowMonth, tomorrowDay, 12, 0, 0).getTime();

      } else if (timeRange === "下午") {
        startTime = new Date(tomorrowYear, tomorrowMonth, tomorrowDay, 14, 0, 0).getTime();
        endTime = new Date(tomorrowYear, tomorrowMonth, tomorrowDay, 18, 0, 0).getTime();

      } else if (timeRange === "晚上") {
        startTime = new Date(tomorrowYear, tomorrowMonth, tomorrowDay, 19, 0, 0).getTime();
        endTime = new Date(tomorrowYear, tomorrowMonth, tomorrowDay, 22, 0, 0).getTime();

      }

      this.getList()

      this.fastTime(startTime, endTime)


      this.getFormattedDate(startTime)
    },

    // 获取预约时间的年月日
    getFormattedDate (timestamp) {
      const date = new Date(timestamp);

      const year = date.getFullYear();
      const month = String(date.getMonth() + 1).padStart(2, "0");
      const day = String(date.getDate()).padStart(2, "0");

      this.form.reservationDate = `${year}-${month}-${day}`;
    },

    // 获取座位列表
    getList () {
      seatSeatList(this.query).then((res) => {
        this.listOfSeats = res.data
      }).catch(() => {

      });
    },

    // 确认座位
    confirmSeat () {

      if (this.seat.seatStatus == 1) {
        uni.showToast({
          title: "座位故障,暂时无法预约",
          icon: "none",
        });

        return
      }

      if (this.currentlySelected == null || this.timeRangeTimestamps == null) {
        uni.showToast({
          title: "请选择座位/时间段",
          icon: "none",
        });
        return;
      } else {



        this.show = true
        this.confirmTime()

      }
    },




    // 确认座位预约时间
    confirmTime () {
      const currentDate = new Date();
      const tomorrowDate = new Date(currentDate);
      tomorrowDate.setDate(currentDate.getDate() + 1); // 将日期设置为明天

      const tomorrowYear = tomorrowDate.getFullYear();
      const tomorrowMonth = tomorrowDate.getMonth();
      const tomorrowDay = tomorrowDate.getDate();

      let startTime;
      let endTime;

      if (this.timeRangeTimestamps === 0) {
        startTime = new Date(tomorrowYear, tomorrowMonth, tomorrowDay, 8, 0, 0).getTime();
        endTime = new Date(tomorrowYear, tomorrowMonth, tomorrowDay, 12, 0, 0).getTime();

      } else if (this.timeRangeTimestamps === 1) {
        startTime = new Date(tomorrowYear, tomorrowMonth, tomorrowDay, 14, 0, 0).getTime();
        endTime = new Date(tomorrowYear, tomorrowMonth, tomorrowDay, 18, 0, 0).getTime();

      } else if (this.timeRangeTimestamps === 2) {
        startTime = new Date(tomorrowYear, tomorrowMonth, tomorrowDay, 19, 0, 0).getTime();
        endTime = new Date(tomorrowYear, tomorrowMonth, tomorrowDay, 22, 0, 0).getTime();

      }
      console.log(startTime)
      this.getFormattedDate(startTime)

    },

    // 新增预约
    addReservation () {



      this.form.studentId = this.UserData.userId
      console.log(this.form)


      // return
      reservationAdd(this.form).then((res) => {
        let { code, msg } = res

        if (code == 200) {
          uni.showToast({
            title: "预约成功",
            icon: "none",
          });
          this.show = false
          this.getList()
        }

      }).catch(() => {

      });
    },



  },
}
</script>

<style scoped lang="scss">
.homePage {
  min-height: 100vh;

  padding: 20rpx;
  //   选择自习室
  .TABSeat {
    margin: 10rpx 0;
    height: 80rpx;
    display: flex;
    // 未选中tab
    .tabBox {
      flex: 1;
      text-align: center;
      margin: 0 10rpx;
      border: 1px solid #0184e3;
      line-height: 80rpx;
      border-radius: 20rpx;
      //   阴影右下方向
      box-shadow: 0 0 1rpx 1rpx #ccc;
      color: #0184e3;
    }
    // 选中tab
    .checkTab {
      flex: 1;
      text-align: center;
      background-color: #0184e3;
      margin: 0 10rpx;
      border: 1px solid #0184e3;
      line-height: 80rpx;
      border-radius: 20rpx;
      //   阴影右下方向
      box-shadow: 0 0 1rpx 1rpx #ccc;
      color: #fff;
    }
  }
  //   自习室位置选择
  .studyRoom {
    height: 100%;
    min-height: 90vh;
    background-color: #0184e3;
    margin-top: 20rpx;
    border-radius: 20rpx;
    padding: 10rpx;
    // 网格布局,自动排列
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 0 1rpx 1rpx #ccc;
    // 设置网格之间间距
    grid-gap: 20rpx;

    // 座位未选中
    .boxSeat {
      width: 100rpx;
      height: 100rpx;
      border: 1px solid #fff;
      border-radius: 20rpx;
      position: relative;
      padding: 10rpx;

      .title {
        // 强制一行
        white-space: nowrap;
        text-align: center;

        font-size: 25rpx;
        position: absolute;
        left: 50%;
        color: #fff;
        transform: translateX(-50%);
      }
      .icon {
        position: absolute;
        width: 60rpx;
        height: 40rpx;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('../../static/zuoyibai.png');
        background-size: 100% 100%;
      }

      .status {
        // 强制一行
        white-space: nowrap;
        text-align: center;

        font-size: 20rpx;
        position: absolute;
        left: 50%;
        bottom: 2rpx;
        color: #fff;
        transform: translateX(-50%);
      }
    }

    // 座位被选中
    .boxSelect {
      width: 100rpx;
      height: 100rpx;
      border: 1px solid #fff;
      border-radius: 20rpx;
      position: relative;
      background-color: #fff;
      padding: 10rpx;

      .title {
        // 强制一行
        white-space: nowrap;
        text-align: center;
        font-size: 25rpx;
        position: absolute;
        left: 50%;
        color: #0184e3;
        transform: translateX(-50%);
      }
      .icon {
        position: absolute;
        width: 60rpx;
        height: 40rpx;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('../../static/zuoyilan.png');
        background-size: 100% 100%;
      }
      .status {
        // 强制一行
        white-space: nowrap;
        text-align: center;

        font-size: 20rpx;
        position: absolute;
        left: 50%;
        bottom: 2rpx;
        color: #0184e3;
        transform: translateX(-50%);
      }
    }
  }
  //   预约按钮
  .makeAnAppointment {
    position: fixed;
    bottom: 20rpx;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 90rpx;
    background-image: url('../../static/muwen.jpg');
    border-radius: 20rpx;
    text-align: center;
    line-height: 90rpx;
    font-size: 35rpx;
    color: #fff;
    // 宋体
    font-family: 宋体;
  }
}
//   弹出,座位预约
.eject {
  min-height: 500rpx;
  padding: 20rpx;
  position: relative;

  .timePeriod {
    height: 100rpx;
    display: flex;
    view {
      flex: 1;
      text-align: center;
      line-height: 100rpx;
      font-size: 38rpx;
      font-weight: 600;
      margin: 0 20rpx;
      color: #bdbdbd;
      border: 1px solid #bdbdbd;
      border-radius: 20rpx;
    }
  }
  .currentReservation {
    font-size: 28rpx;
    color: #bdbdbd;
    margin-top: 10rpx;
  }
  .itemBox {
    display: flex;
    height: 80rpx;
    border: 1px solid #bdbdbd;
    border-radius: 20rpx;
    padding: 10rpx;
    margin-top: 20rpx;
    view {
      flex: 1;
      line-height: 80rpx;

      span {
        height: 80rpx;
        font-weight: 600;
        // 宋体
        font-family: 宋体;
        color: #bdbdbd;
      }
    }

    .title {
      flex-shrink: 0;
      max-width: 270rpx;
      font-size: 35rpx;
      font-weight: 600;
      // 宋体
      font-family: 宋体;
      color: #bdbdbd;
    }
  }
  //   预约按钮
  .makeAnAppointment {
    position: fixed;
    bottom: 20rpx;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 90rpx;
    background-image: url('../../static/muwen.jpg');
    border-radius: 20rpx;
    text-align: center;
    line-height: 90rpx;
    font-size: 35rpx;
    color: #fff;
    // 宋体
    font-family: 宋体;
  }
}
</style>
