<template>
  <view>
    <view>
      <page-header title="意见反馈" />
    </view>
    <view class="homePage">
      <view style="position: relative;">
        <!-- 多行文本输入框 -->
        <textarea
          v-model="form.feedbackContent"
          class="text"
          maxlength="100"
          placeholder="请输入您的意见"
        />
      </view>

      <view class="aReminder">
        亲爱的用户，
        感谢您使用我们的图书阅读室小程序！我们非常重视您的意见和建议，以便不断改进和提升用户体验。：
        <br />- 是否在使用过程中遇到了任何问题或错误？
        <br />- 您是否希望看到更多的图书种类或图书推荐？
        <br />- 对于图书馆的服务和设施，您是否有任何改进意见或建议？
        <br />- 您是否遇到了用户界面上的难以理解或不便使用的地方？
        <br />- 您对图书预约、借阅、归还等流程有任何建议吗？
        <br />请将您的意见和建议发送至我们的反馈邮箱
        <b>xxx@ee.com</b> 或通过应用程序内的联系我们页面进行反馈。我们将尽快回复您，并认真考虑您的反馈。
        再次感谢您的使用和支持！我们期待为您提供更好的图书阅读体验。
        祝您阅读愉快！
      </view>
      <view @click="submitButton" class="submitButton">提交</view>
    </view>
  </view>
</template>

<script>
import { feedbackAdd } from '../../api/api.js'
export default {
  name: '',
  data () {
    return {
      form: {}
    }
  },
  mounted () {
  },
  methods: {

    /* 提交按钮点击事件 */
    submitButton () {

      // 询问是否确认
      uni.showModal({
        title: '提示',
        content: '是否确认提交？',
        success: (res) => {
          if (res.confirm) {
            feedbackAdd(this.form).then((res) => {
              if (res.code == 200) {
                this.form = {}
                uni.showToast({
                  title: '提交成功',
                  icon: 'none',
                  duration: 2000
                })
              }
            }).catch(() => {

            });

          } else if (res.cancel) {
            console.log('用户点击取消')
          }
        }
      })

    }
  },
}
</script>

<style scoped lang="scss">
.homePage {
  padding: 20rpx;
  height: 90vh;
  position: relative;
  .text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    // 美化多行文本输入框
    width: 90%;
    height: 200rpx;
    border: 1px solid #ccc;
    padding: 20rpx;
    border-radius: 20rpx;
    text-align: left;
    text-indent: 20rpx;
    font-size: 30rpx;
    margin-top: 20rpx;
    text-align: left;
  }
  .submitButton {
    position: fixed;
    bottom: 40rpx;
    width: 80%;
    height: 80rpx;
    background-image: url('../../static/muwen.jpg');
    background-size: 100% 100%;
    border-radius: 20rpx;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 80rpx;
    font-size: 35rpx;
    color: #fff;
    font-weight: 600;
  }
  .aReminder {
    position: absolute;
    top: 25%;

    // 美化提示
    padding: 20rpx;
    font-size: 25rpx;
    color: #666;
    // text-align: left;
    margin-top: 20rpx;
    line-height: 40rpx;
    text-indent: 20rpx;
    margin-bottom: 20rpx;
  }
}
</style>
