<!--我的商品-->
<template>
  <div class='userpet container'>
    <div>我的商品</div>
    <div>出售中</div>
    <div>已出售</div>
    <div>求购中</div>
  </div>
</template>

<script>
  export default {
    name: 'UserPet',
    data () {
      return {}
    }
  }
</script>
<style scoped>
@import "~assets/css/mediacss.css";
</style>