<template>
  <div class="app-container">
    <el-form :model="queryParams" ref="queryForm" size="small" :inline="true" v-show="showSearch" label-width="68px">
      <el-form-item label="医师姓名" prop="physicianName">
        <el-input
          v-model="queryParams.physicianName"
          placeholder="请输入医师姓名"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="问诊时间">
        <el-date-picker
          v-model="daterangeConsultationDatetime"
          style="width: 240px"
          value-format="yyyy-MM-dd"
          type="daterange"
          range-separator="-"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
        ></el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          plain
          icon="el-icon-plus"
          size="mini"
          @click="handleAdd"
          v-hasPermi="['system:record:add']"
        >新增</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="success"
          plain
          icon="el-icon-edit"
          size="mini"
          :disabled="single"
          @click="handleUpdate"
          v-hasPermi="['system:record:edit']"
        >修改</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          plain
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="handleDelete"
          v-hasPermi="['system:record:remove']"
        >删除</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="warning"
          plain
          icon="el-icon-download"
          size="mini"
          @click="handleExport"
          v-hasPermi="['system:record:export']"
        >导出</el-button>
      </el-col>
      <right-toolbar :showSearch.sync="showSearch" @queryTable="getList"></right-toolbar>
    </el-row>

    <el-table v-loading="loading" :data="recordList" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column label="问诊记录ID" align="center" prop="consultationRecordId" />
      <el-table-column label="姓名" align="center" prop="status" >
        <template slot-scope="scope">
          <span>{{ '李玉' }}</span>
        </template>
      </el-table-column>
      <el-table-column label="诊断" align="center" prop="diagnosis" />
<!--      <el-table-column label="医师ID" align="center" prop="physicianId" />-->
      <el-table-column label="医师姓名" align="center" prop="physicianName" />
      <el-table-column label="问诊时间" align="center" prop="consultationDatetime" width="180">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.consultationDatetime, '{y}-{m}-{d}') }}</span>
        </template>
      </el-table-column>
      <el-table-column label="药品销售单" align="center" prop="drugSalesOrderId" >
        <template slot-scope="scope">
          <span>{{ '查看药品销售明细' }}</span>
        </template>
      </el-table-column>
<!--      <el-table-column label="档案ID" align="center" prop="recordId" />-->
      <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['system:record:edit']"
          >修改</el-button>
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['system:record:remove']"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改患者就诊记对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="600px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="120px">
        <el-form-item label="诊断" prop="diagnosis">
          <el-input v-model="form.diagnosis" placeholder="请输入诊断" />
        </el-form-item>
        <el-form-item label="医师ID" prop="physicianId">
          <el-input v-model="form.physicianId" placeholder="请输入医师ID" />
        </el-form-item>
        <el-form-item label="医师姓名" prop="physicianName">
          <el-input v-model="form.physicianName" placeholder="请输入医师姓名" />
        </el-form-item>
        <el-form-item label="问诊时间" prop="consultationDatetime">
          <el-date-picker clearable
            v-model="form.consultationDatetime"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="请选择问诊时间">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="药品销售单ID" prop="drugSalesOrderId">
          <el-input v-model="form.drugSalesOrderId" placeholder="请输入药品销售单ID" />
        </el-form-item>
        <el-form-item label="档案ID" prop="recordId">
          <el-input v-model="form.recordId" placeholder="请输入档案ID" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { listRecord, getRecord, delRecord, addRecord, updateRecord } from "@/api/system/record";

export default {
  name: "Record",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 患者就诊记表格数据
      recordList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 档案ID时间范围
      daterangeConsultationDatetime: [],
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        physicianName: null,
        consultationDatetime: null,
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
      }
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询患者就诊记列表 */
    getList() {
      this.loading = true;
      this.queryParams.params = {};
      if (null != this.daterangeConsultationDatetime && '' != this.daterangeConsultationDatetime) {
        this.queryParams.params["beginConsultationDatetime"] = this.daterangeConsultationDatetime[0];
        this.queryParams.params["endConsultationDatetime"] = this.daterangeConsultationDatetime[1];
      }
      listRecord(this.queryParams).then(response => {
        this.recordList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        consultationRecordId: null,
        status: null,
        diagnosis: null,
        physicianId: null,
        physicianName: null,
        consultationDatetime: null,
        drugSalesOrderId: null,
        recordId: null
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.daterangeConsultationDatetime = [];
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.consultationRecordId)
      this.single = selection.length!==1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加患者就诊记";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const consultationRecordId = row.consultationRecordId || this.ids
      getRecord(consultationRecordId).then(response => {
        this.form = response.data;
        this.open = true;
        this.title = "修改患者就诊记";
      });
    },
    /** 提交按钮 */
    submitForm() {
      this.$refs["form"].validate(valid => {
        if (valid) {
          if (this.form.consultationRecordId != null) {
            updateRecord(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            addRecord(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const consultationRecordIds = row.consultationRecordId || this.ids;
      this.$modal.confirm('是否确认删除患者就诊记编号为"' + consultationRecordIds + '"的数据项？').then(function() {
        return delRecord(consultationRecordIds);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("删除成功");
      }).catch(() => {});
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download('system/record/export', {
        ...this.queryParams
      }, `record_${new Date().getTime()}.xlsx`)
    }
  }
};
</script>
