<template>
  <div class="app-container">
    <el-form :model="queryParams" ref="queryForm" size="small" :inline="true" v-show="showSearch" label-width="68px">
      <el-form-item label="古方名称" prop="name">
        <el-input
          v-model="queryParams.name"
          placeholder="请输入古方名称"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          plain
          icon="el-icon-plus"
          size="mini"
          @click="handleAdd"
          v-hasPermi="['system:ancientPrescriptionManage:add']"
        >新增</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="success"
          plain
          icon="el-icon-edit"
          size="mini"
          :disabled="single"
          @click="handleUpdate"
          v-hasPermi="['system:ancientPrescriptionManage:edit']"
        >修改</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          plain
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="handleDelete"
          v-hasPermi="['system:ancientPrescriptionManage:remove']"
        >删除</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="warning"
          plain
          icon="el-icon-download"
          size="mini"
          @click="handleExport"
          v-hasPermi="['system:ancientPrescriptionManage:export']"
        >导出</el-button>
      </el-col>
      <right-toolbar :showSearch.sync="showSearch" @queryTable="getList"></right-toolbar>
    </el-row>

    <el-table v-loading="loading" :data="ancientPrescriptionManageList" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column label="古方id" align="center" prop="id"  width="80"/>
      <el-table-column label="古方名称" align="center" prop="name"  width="200"/>
      <el-table-column label="临床应用" align="center" prop="clinical"  >

          <template slot-scope="scope">
            <el-popover
              placement="right"
              width="400"
              trigger="click">
              <div v-html="scope.row.clinical"></div>
              <el-button slot="reference" type="text">查看</el-button>
            </el-popover>
          </template>
        </el-table-column>
      <el-table-column label="排序" align="center" prop="ordera" width="80" />
      <el-table-column label="操作" align="center" class-name="small-padding fixed-width" width="200" fixed="right" >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['system:ancientPrescriptionManage:edit']"
          >修改</el-button>
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['system:ancientPrescriptionManage:remove']"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改古方对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="1200px" append-to-body fullscreen>
      <el-form ref="form" :model="form" :rules="rules" label-width="120px">
        <el-form-item label="古方名称" prop="name">
          <el-input v-model="form.name" placeholder="请输入古方名称" style="width: 200px" />
        </el-form-item>
        <el-form-item label="临床应用">
          <editor v-model="form.clinical" :min-height="192"/>
        </el-form-item>
        <el-form-item label="排序" prop="ordera">
          <el-input v-model="form.ordera" placeholder="请输入排序" style="width: 80px" />
        </el-form-item>
        <el-divider content-position="center">古方历史信息</el-divider>
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button type="primary" icon="el-icon-plus" size="mini" @click="handleAddAncientPrescriptionHistory">添加</el-button>
          </el-col>
          <el-col :span="1.5">
            <el-button type="danger" icon="el-icon-delete" size="mini" @click="handleDeleteAncientPrescriptionHistory">删除</el-button>
          </el-col>
        </el-row>
        <el-table :data="ancientPrescriptionHistoryList" :row-class-name="rowAncientPrescriptionHistoryIndex" @selection-change="handleAncientPrescriptionHistorySelectionChange" ref="ancientPrescriptionHistory">
          <el-table-column type="selection" width="50" align="center" />
          <el-table-column label="序号" align="center" prop="index" width="50"/>
          <el-table-column label="朝代" prop="dynasty" width="150">
            <template slot-scope="scope">
              <el-select v-model="scope.row.dynasty" placeholder="请选择朝代">
                <el-option
                  v-for="dict in dict.type.dynasty"
                  :key="dict.value"
                  :label="dict.label"
                  :value="dict.value"
                ></el-option>
              </el-select>
            </template>
          </el-table-column>
          <el-table-column label="古籍名称" prop="name" width="200">
            <template slot-scope="scope">
              <el-input v-model="scope.row.name" placeholder="请输入古籍名称" />
            </template>
          </el-table-column>
          <el-table-column label="作者" prop="author" width="150">
            <template slot-scope="scope">
              <el-input v-model="scope.row.author" placeholder="请输入作者" />
            </template>
          </el-table-column>
          <el-table-column label="方名" prop="alias" width="150">
            <template slot-scope="scope">
              <el-input v-model="scope.row.alias" placeholder="请输入方名" />
            </template>
          </el-table-column>
          <el-table-column label="药物组成" prop="fromto" width="300">
            <template slot-scope="scope">
              <el-input
                type="textarea"
                :rows="3"
                placeholder="请输入药物组成"
                v-model="scope.row.fromto">
              </el-input>
            </template>
          </el-table-column>
          <el-table-column label="煎服法" prop="decoction" width="300">
            <template slot-scope="scope">
              <el-input
                type="textarea"
                :rows="3"
                placeholder="请输入煎服法"
                v-model="scope.row.decoction">
              </el-input>
            </template>
          </el-table-column>
          <el-table-column label="功效主治" prop="indications" width="300">
            <template slot-scope="scope">
              <el-input
                type="textarea"
                :rows="3"
                placeholder="请输入功效主治"
                v-model="scope.row.indications">
              </el-input>
            </template>
          </el-table-column>
          <el-table-column label="排序" prop="orderh" width="80">
            <template slot-scope="scope">
              <el-input v-model="scope.row.orderh" placeholder="请输入排序" />
            </template>
          </el-table-column>
        </el-table>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { listAncientPrescriptionManage, getAncientPrescriptionManage, delAncientPrescriptionManage, addAncientPrescriptionManage, updateAncientPrescriptionManage } from "@/api/system/ancientPrescriptionManage";

export default {
  name: "AncientPrescriptionManage",
  dicts: ['dynasty'],
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 子表选中数据
      checkedAncientPrescriptionHistory: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 古方表格数据
      ancientPrescriptionManageList: [],
      // 古方历史表格数据
      ancientPrescriptionHistoryList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        name: null,
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        name: [
          { required: true, message: "古方名称不能为空", trigger: "blur" }
        ],
      }
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询古方列表 */
    getList() {
      this.loading = true;
      listAncientPrescriptionManage(this.queryParams).then(response => {
        this.ancientPrescriptionManageList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
        name: null,
        clinical: null,
        ordera: null
      };
      this.ancientPrescriptionHistoryList = [];
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.single = selection.length!==1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加古方";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const id = row.id || this.ids
      getAncientPrescriptionManage(id).then(response => {
        this.form = response.data;
        this.ancientPrescriptionHistoryList = response.data.ancientPrescriptionHistoryList;
        this.open = true;
        this.title = "修改古方";
      });
    },
    /** 提交按钮 */
    submitForm() {
      this.$refs["form"].validate(valid => {
        if (valid) {
          this.form.ancientPrescriptionHistoryList = this.ancientPrescriptionHistoryList;
          if (this.form.id != null) {
            updateAncientPrescriptionManage(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            addAncientPrescriptionManage(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const ids = row.id || this.ids;
      this.$modal.confirm('是否确认删除古方编号为"' + ids + '"的数据项？').then(function() {
        return delAncientPrescriptionManage(ids);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("删除成功");
      }).catch(() => {});
    },
	/** 古方历史序号 */
    rowAncientPrescriptionHistoryIndex({ row, rowIndex }) {
      row.index = rowIndex + 1;
    },
    /** 古方历史添加按钮操作 */
    handleAddAncientPrescriptionHistory() {
      let obj = {};
      obj.dynasty = "";
      obj.name = "";
      obj.author = "";
      obj.alias = "";
      obj.fromto = "";
      obj.decoction = "";
      obj.indications = "";
      obj.orderh = "";
      this.ancientPrescriptionHistoryList.push(obj);
    },
    /** 古方历史删除按钮操作 */
    handleDeleteAncientPrescriptionHistory() {
      if (this.checkedAncientPrescriptionHistory.length == 0) {
        this.$modal.msgError("请先选择要删除的古方历史数据");
      } else {
        const ancientPrescriptionHistoryList = this.ancientPrescriptionHistoryList;
        const checkedAncientPrescriptionHistory = this.checkedAncientPrescriptionHistory;
        this.ancientPrescriptionHistoryList = ancientPrescriptionHistoryList.filter(function(item) {
          return checkedAncientPrescriptionHistory.indexOf(item.index) == -1
        });
      }
    },
    /** 复选框选中数据 */
    handleAncientPrescriptionHistorySelectionChange(selection) {
      this.checkedAncientPrescriptionHistory = selection.map(item => item.index)
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download('system/ancientPrescriptionManage/export', {
        ...this.queryParams
      }, `ancientPrescriptionManage_${new Date().getTime()}.xlsx`)
    }
  }
};
</script>
