<template>
  <view>
    <view>
      <page-header title="通知公告" />
    </view>
    <view class="homePage">
      <view @click="jump(item)" v-for="item in announcementList" class="box">
        <view class="title">{{item.noticeTitle}}</view>
        <view class="content">{{item.noticeContent}}</view>

        <!-- <img src="../../static/gonggao2.png" alt /> -->
      </view>
    </view>
  </view>
</template>

<script>
import { noticeList } from '../../api/api.js'
export default {
  name: '',
  data () {
    return {
      // 公告列表
      announcementList: []
    }
  },
  mounted () {
    noticeList().then((res) => {

      let { code, msg, rows } = res

      this.announcementList = rows
    }).catch(() => {

    });
  },
  methods: {
    // 跳转详情
    jump (item) {

      let data = JSON.stringify(item)
      uni.navigateTo({
        url: `/pages/announcement/page/announcementDetails?data=${data}`,
      })
    }
  },
}
</script>

<style scoped lang="scss">
view {
  //   border: 1px solid red;
}
.homePage {
  min-height: 100vh;
  padding: 20rpx;

  .box {
    position: relative;
    // width: 100%;
    height: 200rpx;
    border: 2px solid #ccc;
    border-radius: 20rpx;
    margin-top: 20rpx;
    padding: 0 20rpx 20rpx 20rpx;

    .title {
      position: absolute;
      font-size: 40rpx;
      font-weight: 800;
      //   宋体
      font-family: 宋体;
      top: 20rpx;
      left: 20rpx;
    }
    .content {
      position: absolute;
      top: 80rpx;
      left: 20rpx;
      //   最多显示三行 超出省略号
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    img {
      width: 80rpx;
      height: 80rpx;
      position: absolute;
      top: 3rpx;
      left: 190rpx;
    }
  }
}
</style>
