<template>
  <view>
    <view>
      <page-header title="预约管理" />
    </view>
    <u-tabs :list="list1" @click="toggleTab"></u-tabs>
    <view v-if="TabPage == 1">
      <view class="homePage">
        <view v-for="item in reservationList" class="box">
          <view class="time">
            <span>预定提交时间:</span>
            <span>{{item.createTime}}</span>
          </view>
          <view class="predeterminedTime">
            <span>预定时间:</span>
            <span>{{item.reservationDate}}</span>
          </view>
          <view class="timePeriod">
            <span>预定时间段:</span>
            <!-- timeSlot 1上午 2下午 3晚上 -->
            <span v-if="item.timeSlot == 1">上午</span>
            <span v-if="item.timeSlot == 2">下午</span>
            <span v-if="item.timeSlot == 3">晚上</span>
          </view>
          <span v-if="item.isActive== 0 && item.isCancal ==0" class="status">未入座</span>
          <span v-if="item.isActive== 1 && item.isCancal ==0" class="status">已入座</span>

          <span v-if="item.isActive== 2 && item.isCancal ==0" class="status">退座</span>
          <span v-if="item.isCancal == 1" class="statusMake">已取消预约</span>

          <view class="operation">
            <span @click="enterSeat(item)" v-if="item.isActive== 0 && item.isCancal ==0">入座</span>
            <!-- <span v-if="item.isActive == 1">退座</span>
            <span v-if="item.isActive == 1">离开座位</span>-->
            <!-- <span @click="backSeat(item)" v-if="item.isActive == 1">返回座位</span> -->
            <span
              @click="cancelAnAppointment(item)"
              v-if="(item.isCancal == 0 && item.isActive == 0 ) && isDatePassedOrToday(item.reservationDate)"
            >取消预约</span>
          </view>
        </view>
      </view>
      <view style="height: 120rpx;"></view>
      <view class="submitButton">
        <view @click="withdrawOneSSeat">退座</view>
        <view @click="leaveTheSeat">离开座位</view>
      </view>
    </view>
    <view v-else>
      <pageTabList />
    </view>
  </view>
</template>

<script>
import pageTabList from './page.vue'
import { getInfo, listTod, reservationListApi, takePlace, cancelReservation, cancelPlace, leaveSeat, returnSeat } from '@/api/api.js'
export default {
  name: '',
  // 注册组件
  components: {
    pageTabList
  },
  data () {
    return {
      // 预约列表
      reservationList: [],
      UserData: {},


      list1: [{
        name: '当日预约',
      }, {
        name: '预约记录',
      },],

      TabPage: 1
    }
  },
  mounted () {


    getInfo().then((res) => {
      let { code, user } = res

      console.log(res, '**')
      if (code == 200) {
        // 存储user
        uni.setStorageSync("userData", user);
        this.UserData = user
      }

      this.queryUserTod()
    }).catch(() => {

    });


  },
  methods: {
    // 查询用户当日预约
    queryUserTod () {

      let obj = {
        studentId: this.UserData.userId
      }
      console.log(obj, '666', this.UserData)
      // reservationListApi(obj).then((res) => {
      listTod(obj).then((res) => {
        console.log(res)
        this.reservationList = res.data
      }).catch(() => {

      });
    },

    // 入座操作
    enterSeat (item) {

      let obj = {
        reservationId: item.reservationId
      }
      takePlace(obj).then((res) => {

        let { code, msg } = res
        if (code == 200) {
          uni.showToast({
            title: msg,
            icon: 'none',
            duration: 2000
          })
          this.queryUserTod()
        }


      }).catch(() => {

      });
    },
    // 返回座位操作
    backSeat (item) {

      let obj = {
        seatId: item.seatId
      }
      console.log(item)

      // return
      returnSeat(obj).then((res) => {

        let { code, msg } = res
        if (code == 200) {
          uni.showToast({
            title: msg,
            icon: 'none',
            duration: 2000
          })
          this.queryUserTod()
        }


      }).catch(() => {

      });
    },
    // 取消预约
    cancelAnAppointment (item) {

      let obj = {
        reservationId: item.reservationId
      }
      cancelReservation(obj).then((res) => {

        let { code, msg } = res
        if (code == 200) {
          uni.showToast({
            title: msg,
            icon: 'none',
            duration: 2000
          })
          this.queryUserTod()
        }


      }).catch(() => {

      });
    },

    // 退座
    withdrawOneSSeat () {
      // 询问
      uni.showModal({
        title: '提示',
        content: '是否确认退座？',
        success: (res) => {
          if (res.confirm) {
            cancelPlace().then((res) => {

              let { code, msg } = res
              if (code == 200) {
                uni.showToast({
                  title: msg,
                  icon: 'none',
                  duration: 2000
                })
                this.queryUserTod()
              } else {
                uni.showToast({
                  title: msg,
                  icon: 'none',
                  duration: 2000
                })
              }
            }).catch(() => {

            });
          } else if (res.cancel) {
            // 取消退座
          }
        }
      })

    },
    // 离开座位
    leaveTheSeat () {
      // 询问
      uni.showModal({
        title: '提示',
        content: '是否确认离开座位？',
        success: (res) => {
          if (res.confirm) {
            leaveSeat().then((res) => {

              let { code, msg } = res
              if (code == 200) {
                uni.showToast({
                  title: msg,
                  icon: 'none',
                  duration: 2000
                })
                this.queryUserTod()
              } else {
                uni.showToast({
                  title: '当前无法离开座位',
                  icon: 'none',
                  duration: 2000
                })
              }
            }).catch(() => {

            });
          } else if (res.cancel) {
            // 取消退座
          }
        }
      })

    },
    // 判断取消预约是否超出
    isDatePassedOrToday (dateString) {
      console.log('------')
      const targetDate = new Date(dateString);

      const today = new Date();
      today.setHours(0, 0, 0, 0); // 将时间部分设为0，只比较日期部分

      if (today > targetDate || today.getTime() === targetDate.getTime()) {
        console.log('今天已经过了')
        return false;
      } else {

        console.log('今天还没过')
        return true;
      }


    },
    // 切换Tab
    toggleTab (item) {
      console.log(item)
      if (item.name == '当日预约') {
        this.TabPage = 1
      } else {
        this.TabPage = 2
      }
    }
  },
}
</script>

<style scoped lang="scss">
.homePage {
  min-height: 100vh;
  padding: 20rpx;
  // margin-bottom: 100rpx;
  .box {
    height: 160rpx;
    border: 1px #dbdbdb solid;
    border-radius: 20rpx;
    position: relative;
    padding: 20rpx;

    .time {
      position: absolute;
      font-size: 26rpx;
      top: 20rpx;
      left: 20rpx;

      span:nth-child(1) {
        font-weight: 600;
      }
    }
    .predeterminedTime {
      position: absolute;
      font-size: 26rpx;
      top: 80rpx;
      left: 20rpx;
      span:nth-child(1) {
        font-weight: 600;
      }
    }

    .timePeriod {
      position: absolute;
      font-size: 26rpx;
      top: 140rpx;
      left: 20rpx;
      span:nth-child(1) {
        font-weight: 600;
      }
    }
    .status {
      position: absolute;
      top: 20rpx;
      right: 20rpx;
      font-size: 24rpx;
      border: 1px solid #dbdbdb;
      padding: 6rpx;
      border-radius: 20rpx;
    }
    .statusMake {
      font-size: 24rpx;
      position: absolute;
      top: 80rpx;
      right: 20rpx;
      // border: 1px solid #dbdbdb;
      padding: 6rpx;
      border-radius: 20rpx;
    }

    .operation {
      position: absolute;
      bottom: 20rpx;
      right: 20rpx;
      // top: 20rpx;
      width: 50%;
      // 网格布局，竖向排列，一列一行
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'operation operation';
      grid-auto-flow: column;

      grid-gap: 20rpx;
      span {
        width: 150rpx;
        text-align: center;
        font-size: 26rpx;
        color: #007aff;
        border-bottom: 1px #007aff solid;
      }
    }
  }
}
.submitButton {
  position: fixed;
  display: flex;
  bottom: 40rpx;
  width: 80%;
  height: 80rpx;
  left: 50%;
  transform: translateX(-50%);

  view {
    flex: 1;
    margin: 0 20rpx;
    background-image: url('../../static/muwen.jpg');
    background-size: 100% 100%;
    border-radius: 20rpx;
    text-align: center;
    line-height: 80rpx;
    font-size: 35rpx;
    color: #fff;
    font-weight: 600;
  }
}
</style>
