<template>
  <div class="app-container">
    <el-form :model="queryParams" ref="queryForm" size="small" :inline="true" v-show="showSearch" label-width="68px">
      <el-form-item label="朝代" prop="dynasty">
        <el-select v-model="queryParams.dynasty" placeholder="请选择朝代" clearable>
          <el-option
            v-for="dict in dict.type.dynasty"
            :key="dict.value"
            :label="dict.label"
            :value="dict.value"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="古籍名称" prop="name">
        <el-input
          v-model="queryParams.name"
          placeholder="请输入古籍名称"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="作者" prop="author">
        <el-input
          v-model="queryParams.author"
          placeholder="请输入作者"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="方名" prop="alias">
        <el-input
          v-model="queryParams.alias"
          placeholder="请输入方名"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="古方id" prop="aid">
        <el-input
          v-model="queryParams.aid"
          placeholder="请输入古方id"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          plain
          icon="el-icon-plus"
          size="mini"
          @click="handleAdd"
          v-hasPermi="['system:ancientPrescriptionHistory:add']"
        >新增</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="success"
          plain
          icon="el-icon-edit"
          size="mini"
          :disabled="single"
          @click="handleUpdate"
          v-hasPermi="['system:ancientPrescriptionHistory:edit']"
        >修改</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          plain
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="handleDelete"
          v-hasPermi="['system:ancientPrescriptionHistory:remove']"
        >删除</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="warning"
          plain
          icon="el-icon-download"
          size="mini"
          @click="handleExport"
          v-hasPermi="['system:ancientPrescriptionHistory:export']"
        >导出</el-button>
      </el-col>
      <right-toolbar :showSearch.sync="showSearch" @queryTable="getList"></right-toolbar>
    </el-row>

    <el-table v-loading="loading" :data="ancientPrescriptionHistoryList" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column label="历史id" align="center" prop="hid" />
      <el-table-column label="朝代" align="center" prop="dynasty">
        <template slot-scope="scope">
          <dict-tag :options="dict.type.dynasty" :value="scope.row.dynasty"/>
        </template>
      </el-table-column>
      <el-table-column label="古籍名称" align="center" prop="name" />
      <el-table-column label="作者" align="center" prop="author" />
      <el-table-column label="方名" align="center" prop="alias" />
      <el-table-column label="药物组成" align="center" prop="fromto" />
      <el-table-column label="煎服法" align="center" prop="decoction" />
      <el-table-column label="功效主治" align="center" prop="indications" />
      <el-table-column label="古方id" align="center" prop="aid" />
      <el-table-column label="排序" align="center" prop="orderh" />
      <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['system:ancientPrescriptionHistory:edit']"
          >修改</el-button>
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['system:ancientPrescriptionHistory:remove']"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    
    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改古方历史对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="600px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="120px">
        <el-form-item label="朝代" prop="dynasty">
          <el-select v-model="form.dynasty" placeholder="请选择朝代">
            <el-option
              v-for="dict in dict.type.dynasty"
              :key="dict.value"
              :label="dict.label"
              :value="dict.value"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="古籍名称" prop="name">
          <el-input v-model="form.name" placeholder="请输入古籍名称" />
        </el-form-item>
        <el-form-item label="作者" prop="author">
          <el-input v-model="form.author" placeholder="请输入作者" />
        </el-form-item>
        <el-form-item label="方名" prop="alias">
          <el-input v-model="form.alias" placeholder="请输入方名" />
        </el-form-item>
        <el-form-item label="药物组成" prop="fromto">
          <el-input v-model="form.fromto" type="textarea" placeholder="请输入内容" />
        </el-form-item>
        <el-form-item label="煎服法">
          <editor v-model="form.decoction" :min-height="192"/>
        </el-form-item>
        <el-form-item label="功效主治">
          <editor v-model="form.indications" :min-height="192"/>
        </el-form-item>
        <el-form-item label="古方id" prop="aid">
          <el-input v-model="form.aid" placeholder="请输入古方id" />
        </el-form-item>
        <el-form-item label="排序" prop="orderh">
          <el-input v-model="form.orderh" placeholder="请输入排序" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { listAncientPrescriptionHistory, getAncientPrescriptionHistory, delAncientPrescriptionHistory, addAncientPrescriptionHistory, updateAncientPrescriptionHistory } from "@/api/system/ancientPrescriptionHistory";

export default {
  name: "AncientPrescriptionHistory",
  dicts: ['dynasty'],
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 古方历史表格数据
      ancientPrescriptionHistoryList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        dynasty: null,
        name: null,
        author: null,
        alias: null,
        aid: null,
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
      }
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询古方历史列表 */
    getList() {
      this.loading = true;
      listAncientPrescriptionHistory(this.queryParams).then(response => {
        this.ancientPrescriptionHistoryList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        hid: null,
        dynasty: null,
        name: null,
        author: null,
        alias: null,
        fromto: null,
        decoction: null,
        indications: null,
        aid: null,
        orderh: null
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.hid)
      this.single = selection.length!==1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加古方历史";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const hid = row.hid || this.ids
      getAncientPrescriptionHistory(hid).then(response => {
        this.form = response.data;
        this.open = true;
        this.title = "修改古方历史";
      });
    },
    /** 提交按钮 */
    submitForm() {
      this.$refs["form"].validate(valid => {
        if (valid) {
          if (this.form.hid != null) {
            updateAncientPrescriptionHistory(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            addAncientPrescriptionHistory(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const hids = row.hid || this.ids;
      this.$modal.confirm('是否确认删除古方历史编号为"' + hids + '"的数据项？').then(function() {
        return delAncientPrescriptionHistory(hids);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("删除成功");
      }).catch(() => {});
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download('system/ancientPrescriptionHistory/export', {
        ...this.queryParams
      }, `ancientPrescriptionHistory_${new Date().getTime()}.xlsx`)
    }
  }
};
</script>
