<template>
  <div class="app-container">
    <el-form :model="queryParams" ref="queryForm" size="small" :inline="true" v-show="showSearch" label-width="68px">
      <el-form-item label="发药日期">
        <el-date-picker
          v-model="daterangeDispensingDate"
          style="width: 240px"
          value-format="yyyy-MM-dd"
          type="daterange"
          range-separator="-"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
        ></el-date-picker>
      </el-form-item>
      <el-form-item label="药师姓名" prop="pharmacistName">
        <el-input
          v-model="queryParams.pharmacistName"
          placeholder="请输入药师姓名"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          plain
          icon="el-icon-plus"
          size="mini"
          @click="handleAdd"
          v-hasPermi="['system:salesOrder:add']"
        >新增</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="success"
          plain
          icon="el-icon-edit"
          size="mini"
          :disabled="single"
          @click="handleUpdate"
          v-hasPermi="['system:salesOrder:edit']"
        >修改</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          plain
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="handleDelete"
          v-hasPermi="['system:salesOrder:remove']"
        >删除</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="warning"
          plain
          icon="el-icon-download"
          size="mini"
          @click="handleExport"
          v-hasPermi="['system:salesOrder:export']"
        >导出</el-button>
      </el-col>
      <right-toolbar :showSearch.sync="showSearch" @queryTable="getList"></right-toolbar>
    </el-row>

    <el-table v-loading="loading" :data="salesOrderList" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column label="销售单ID" align="center" prop="salesOrderId" />
      <el-table-column label="发药日期" align="center" prop="dispensingDate" width="180">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.dispensingDate, '{y}-{m}-{d}') }}</span>
        </template>
      </el-table-column>
      <el-table-column label="发药时间" align="center" prop="dispensingTime" width="180">
        <template slot-scope="scope">
          <span>{{ '16:33:45' }}</span>
        </template>
      </el-table-column>
      <el-table-column label="患者" align="center" prop="pharmacistUserId" >
        <template slot-scope="scope">
          <span>{{ '张宇' }}</span>
        </template>
      </el-table-column>
      <el-table-column label="药师姓名" align="center" prop="pharmacistName" />
      <el-table-column label="药品明细" align="center" prop="medicalRecordId" >
        <template slot-scope="scope">
          <span>{{ '查看' }}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['system:salesOrder:edit']"
          >修改</el-button>
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['system:salesOrder:remove']"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改药品销售对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="600px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="120px">
        <el-form-item label="发药日期" prop="dispensingDate">
          <el-date-picker clearable
            v-model="form.dispensingDate"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="请选择发药日期">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="发药时间" prop="dispensingTime">
          <el-date-picker clearable
            v-model="form.dispensingTime"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="请选择发药时间">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="药师用户ID" prop="pharmacistUserId">
          <el-input v-model="form.pharmacistUserId" placeholder="请输入药师用户ID" />
        </el-form-item>
        <el-form-item label="药师姓名" prop="pharmacistName">
          <el-input v-model="form.pharmacistName" placeholder="请输入药师姓名" />
        </el-form-item>
        <el-form-item label="问诊记录ID" prop="medicalRecordId">
          <el-input v-model="form.medicalRecordId" placeholder="请输入问诊记录ID" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { listSalesOrder, getSalesOrder, delSalesOrder, addSalesOrder, updateSalesOrder } from "@/api/system/salesOrder";

export default {
  name: "SalesOrder",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 药品销售表格数据
      salesOrderList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 问诊记录ID时间范围
      daterangeDispensingDate: [],
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        dispensingDate: null,
        pharmacistName: null,
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
      }
    };
  },
  created() {
    this.getList();

  },

  methods: {
    /** 查询药品销售列表 */
    getList() {
      this.loading = true;
      this.queryParams.params = {};
      if (null != this.daterangeDispensingDate && '' != this.daterangeDispensingDate) {
        this.queryParams.params["beginDispensingDate"] = this.daterangeDispensingDate[0];
        this.queryParams.params["endDispensingDate"] = this.daterangeDispensingDate[1];
      }
      listSalesOrder(this.queryParams).then(response => {
        this.salesOrderList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        salesOrderId: null,
        dispensingDate: null,
        dispensingTime: null,
        pharmacistUserId: null,
        pharmacistName: null,
        medicalRecordId: null
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.daterangeDispensingDate = [];
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.salesOrderId)
      this.single = selection.length!==1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加药品销售";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const salesOrderId = row.salesOrderId || this.ids
      getSalesOrder(salesOrderId).then(response => {
        this.form = response.data;
        this.open = true;
        this.title = "修改药品销售";
      });
    },
    /** 提交按钮 */
    submitForm() {
      this.$refs["form"].validate(valid => {
        if (valid) {
          if (this.form.salesOrderId != null) {
            updateSalesOrder(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            addSalesOrder(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const salesOrderIds = row.salesOrderId || this.ids;
      this.$modal.confirm('是否确认删除药品销售编号为"' + salesOrderIds + '"的数据项？').then(function() {
        return delSalesOrder(salesOrderIds);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("删除成功");
      }).catch(() => {});
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download('system/salesOrder/export', {
        ...this.queryParams
      }, `salesOrder_${new Date().getTime()}.xlsx`)
    }
  }
};
</script>
