<template>
  <div>
    <el-table
      :data="tableData"
      style="width: 100%">
      <el-table-column
        prop="id"
        label="id"
        width="180">
      </el-table-column>
      <el-table-column
        prop="uid"
        label="预约用户id"
        width="100">
      </el-table-column>
      <el-table-column
        prop="name"
        label="医疗项目">
      </el-table-column>
      <el-table-column
        prop="price"
        label="费用">
      </el-table-column>
      <el-table-column
        prop="time"
        label="预约时间">
      </el-table-column>
      <el-table-column
        label="操作"
        width="150">
        <template slot-scope="scope">
          <el-popconfirm
            confirmButtonText='确定'
            cancelButtonText='取消'
            placement="top"
            icon="el-icon-info"
            iconColor="red"
            title="确定删除该数据吗？"
            @confirm="handleDelete(scope.$index, scope.row)"
          >
            <el-button style="margin-left: 10px"
                       size="mini"
                       type="danger"
                       slot="reference"
            >删除</el-button>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>
    <div class="pagination">
      <el-pagination
        :hide-on-single-page="false"
        @current-change="handleCurrentChange"
        :page-size="pagesize"
        :pager-count="pagecount"
        :current-page.sync="currentpage"
        layout="total, prev, pager, next, jumper"
        :total="total">
      </el-pagination>
    </div>
  </div>
</template>

<script>
import {deleteAm, getAllAm} from "@/network/service";
import th from "element-ui/src/locale/lang/th";
import {Message} from "element-ui";

export default {
  data() {
    return {
      pagesize: '',
      pagecount: '',
      total: '',
      tableData: []
    }
  },
  methods:{
    handleDelete(index, row) {
      console.log(row.id)
      deleteAm({
        id: row.id
      }).then(res => {
        this.$notify({
          title: "删除成功",
          message: res,
          offset: 100,
          type: 'success'
        })
      }).catch(err => {
        Message.error("删除失败")
      })
      location.reload()
    },
  },
  created() {
    getAllAm().then( res => {
      this.tableData = res.data
      this.pagesize = res.pageSize
      this.pagercount = res.pagercount
      this.total = res.total
    })
  }
}
</script>
