<template>
  <div>
    <el-button type="primary" @click="openDialog('add')">新增</el-button>
    <el-table
      :data="tableData"
      style="width: 100%">
      <el-table-column
        prop="id"
        label="id"
        width="180">
      </el-table-column>
      <el-table-column
        prop="name"
        label="项目名"
        width="100">
      </el-table-column>
      <el-table-column
        prop="content"
        label="详细说明">
      </el-table-column>
      <el-table-column
        prop="price"
        label="价格">
      </el-table-column>
          <el-table-column
            label="操作"
            width="250">
            <template slot-scope="scope">
              <el-button type="primary" @click="openDialog('edit',scope.row.id)">编辑</el-button>
              <el-popconfirm
                confirmButtonText='确定'
                cancelButtonText='取消'
                placement="top"
                icon="el-icon-info"
                iconColor="red"
                title="确定删除该项目吗？"
                @confirm="handleDelete(scope.$index, scope.row)"
              >
                <el-button
                  type="danger"
                  slot="reference"
                >删除
                </el-button>
              </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>
    <div class="pagination">
      <el-pagination
        :hide-on-single-page="false"
        @current-change="handleCurrentChange"
        :page-size="pagesize"
        :pager-count="pagecount"
        :current-page.sync="currentpage"
        layout="total, prev, pager, next, jumper"
        :total="total">
      </el-pagination>
    </div>
    <!-- 弹出框 -->
    <el-dialog :title="dialogTitle" :visible="dialogVisible" @close="closeDialog">
      <el-form ref="form" :model="formData" :rules="formRules" label-width="80px" v-if="dialogVisible">
        <el-form-item label="id" prop="id" v-if="type">
          <el-input v-model="formData.id"></el-input>
        </el-form-item>
        <el-form-item label="项目名" prop="name">
          <el-input v-model="formData.name"></el-input>
        </el-form-item>
        <el-form-item label="详细说明" prop="content">
          <el-input v-model="formData.content" type="textarea"></el-input>
        </el-form-item>
        <el-form-item label="价格" prop="price">
          <el-input v-model="formData.price"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer">
        <el-button @click="closeDialog">取消</el-button>
        <el-button type="primary" @click="submitForm">确定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {deleteCosmetic, getAllCosmetic, getBeautyById, saveBeauty, updateBeautyById} from "@/network/service";
import th from "element-ui/src/locale/lang/th";
import {Message} from "element-ui";

export default {
  data() {
    return {
      pagesize: '',
      pagecount: '',
      total: '',
      tableData: [],
      dialogVisible: false,
      dialogTitle: '',
      type: false,
      formData: {
        id: '',
        name: '',
        content: '',
        price: '',
      },
      formRules: {
        id: [
          {required: true, message: '请输入ID', trigger: 'blur'}
        ],
        name: [
          {required: true, message: '请输入训练项目名', trigger: 'blur'}
        ],
        content: [
          {required: true, message: '请输入详细说明', trigger: 'blur'}
        ],
        price: [
          {required: true, message: '请输入价格', trigger: 'blur'}
        ]
      }
    }
  },
  methods: {
    handleDelete(index, row) {
      console.log(row.id)
      deleteCosmetic({
        id: row.id
      }).then(res => {
        this.$notify({
          title: "删除成功",
          message: res,
          offset: 100,
          type: 'success'
        })
      }).catch(err => {
        Message.error("删除失败")
      })
      location.reload()
    },
    openDialog(mode, id) {
      if (mode === 'add') {
        this.dialogTitle = '新增';
        // 清空表单数据
        this.formData = {
          id: '',
          name: '',
          content: '',
          price: ''
        };
      } else if (mode === 'edit') {
        this.dialogTitle = '编辑';
        this.type = true
        console.log(id)
        getBeautyById({
          id: id
        }).then(res => {
          this.formData = res
        })
      }
      this.dialogVisible = true;
    },
    closeDialog() {
      this.dialogVisible = false;
      this.type = false;
      this.$refs.form.resetFields();
    },
    submitForm() {
      this.$refs.form.validate(valid => {
        if (valid) {
          console.log(this.formData)
          if (this.formData.id) {
            let form = new FormData();
            form.append('id', this.formData.id);
            form.append('name', this.formData.name);
            form.append('content', this.formData.content);
            form.append('price', this.formData.price);
            updateBeautyById(form).catch(err => {
              Message.error("更新失败")
            })
          } else {
            let form = new FormData();
            form.append('id', this.formData.id);
            form.append('name', this.formData.name);
            form.append('content', this.formData.content);
            form.append('price', this.formData.price);
            saveBeauty(form).catch(err => {
              Message.error("保存失败")
            })
          }
          this.dialogVisible = false
          location.reload()
        }
      });
    },
  },
  created() {
    getAllCosmetic().then(res => {
      this.tableData = res.data
      this.pagesize = res.pageSize
      this.total = res.total
    })
  }
}
</script>
