<template>
  <div>
    <el-button type="primary" @click="openDialog('add')">新增</el-button>
    <el-table
      :data="tableData"
      style="width: 100%">
      <el-table-column
        prop="id"
        label="id"
        width="180">
      </el-table-column>
      <el-table-column
        prop="time"
        label="寄养时长"
        width="100">
      </el-table-column>
      <el-table-column
        prop="remark"
        label="注意事项">
      </el-table-column>
      <el-table-column
        prop="price"
        label="费用">
      </el-table-column>
      <el-table-column
        prop="username"
        label="寄养人">
      </el-table-column>
      <el-table-column
        label="操作"
        width="150">
        <template slot-scope="scope">
          <el-popconfirm
            confirmButtonText='确定'
            cancelButtonText='取消'
            placement="top"
            icon="el-icon-info"
            iconColor="red"
            title="确定删除该数据吗？"
            @confirm="handleDelete(scope.$index, scope.row)"
          >
            <el-button style="margin-left: 10px"
                       size="mini"
                       type="danger"
                       slot="reference"
            >删除
            </el-button>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>
    <div class="pagination">
      <el-pagination
        :hide-on-single-page="false"
        @current-change="handleCurrentChange"
        :page-size="pagesize"
        :pager-count="pagecount"
        :current-page.sync="currentpage"
        layout="total, prev, pager, next, jumper"
        :total="total">
      </el-pagination>
    </div>
    <!-- 弹出框 -->
    <el-dialog :title="dialogTitle" :visible="dialogVisible" @close="closeDialog">
      <el-form ref="form" :model="formData" :rules="formRules" label-width="80px" v-if="dialogVisible">
        <el-form-item label="寄养人" prop="username">
          <el-input v-model="formData.username" type="textarea"></el-input>
        </el-form-item>
        <el-form-item label="寄养时长" prop="time">
          <el-input v-model="formData.time"></el-input>
        </el-form-item>
        <el-form-item label="注意事项" prop="remark">
          <el-input v-model="formData.remark"></el-input>
        </el-form-item>
        <el-form-item label="费用" prop="price">
          <el-input v-model="formData.price"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer">
        <el-button @click="closeDialog">取消</el-button>
        <el-button type="primary" @click="submitForm">确定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {deleteCare, getAllCare, getTrainById, saveFC, saveTrain, updateTrainById} from "@/network/service";
import th from "element-ui/src/locale/lang/th";
import {Message} from "element-ui";

export default {
  data() {
    return {
      pagesize: '',
      pagecount: '',
      total: '',
      tableData: [],
      dialogVisible: false,
      dialogTitle: '',
      formData: {
        remark: '',
        username: '',
        time: '',
        price: ''
      },
    }
  },
  methods: {
    handleDelete(index, row) {
      console.log(row.id)
      deleteCare({
        id: row.id
      }).then(res => {
        this.$notify({
          title: "删除成功",
          message: res,
          offset: 100,
          type: 'success'
        })
      }).catch(err => {
        Message.error("删除失败")
      })
      location.reload()
    },
    openDialog() {
      this.dialogVisible = true;
    },
    closeDialog() {
      this.dialogVisible = false;
      this.$refs.form.resetFields();
    },
    submitForm() {
      let form = new FormData();
      form.append('username', this.formData.username);
      form.append('remark', this.formData.remark);
      form.append('time', this.formData.time);
      form.append('price', this.formData.price);
      saveFC(form).catch(err => {
        Message.error("保存失败")
      })
      this.dialogVisible = false
      location.reload()
    }
  },
  created() {
    getAllCare().then(res => {
      this.tableData = res.data
      this.pagesize = res.pageSize
      this.pagercount = res.pagercount
      this.total = res.total
    })
  }
}
</script>
