<template>
  <view>
    <view>
      <page-header title="发布公告" />
    </view>
    <view class="homePage">
      <view style="position: relative;">
        <input v-model="form.noticeTitle" placeholder="请输入公告标题" type="text" />
        <!-- 多行文本输入框 -->
        <textarea v-model="form.noticeContent" class="text" maxlength="100" placeholder="请输入公告内容" />
      </view>
      <view class="aReminder">
        亲爱的管理员，
        在发布公告之前，请仔细确认以下事项：
        <br />- 公告标题和内容是否准确无误？
        <br />- 是否包含了需要传达的重要信息和通知？
        <br />- 是否考虑了用户的需求和体验？
        <br />- 公告是否易于理解和阅读？
        <br />请确认您准备发布的公告符合以上要求，然后点击下方的“发布公告”按钮进行发布。
        感谢您对图书阅读室的管理和支持！
      </view>
      <view @click="submitButton" class="submitButton">发布公告</view>
    </view>
  </view>
</template>

<script>
import { noticeAdd } from '@/api/api'
export default {
  name: '',
  data () {
    return {
      form: {
        noticeType: 2,
        status: 0
      }
    }
  },

  mounted () {
  },
  methods: {
    // noticeContent
    // : 
    // "<p>公告内容</p>"
    // noticeTitle
    // : 
    // "公告标题"
    // noticeType
    // : 
    // "2"
    // status
    // : 
    // "0"
    /* 提交按钮点击事件 */
    submitButton () {

      // 判空
      if (this.form.noticeTitle == '' || this.form.noticeContent == null) {
        uni.showToast({
          title: '请输入公告标题和内容',
          icon: 'none',
          duration: 2000
        })
        return
      }
      // 询问是否确认
      uni.showModal({
        title: '提示',
        content: '是否确认发布公告？',
        success: (res) => {
          if (res.confirm) {
            noticeAdd(this.form).then((res) => {
              if (res.code == 200) {
                this.form = {
                  noticeType: 2,
                  status: 0
                }
                uni.showToast({
                  title: '提交成功',
                  icon: 'none',
                  duration: 2000
                })
              }
            }).catch(() => {

            });

          } else if (res.cancel) {
            console.log('用户点击取消')
          }
        }
      })

    }
  },
}
</script>

<style scoped lang="scss">
.homePage {
  padding: 20rpx;
  height: 90vh;
  position: relative;
  input {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    // 美化多行文本输入框
    width: 90%;

    border: 1px solid #ccc;
    padding: 20rpx;
    border-radius: 20rpx;
    text-align: left;
    text-indent: 20rpx;
    font-size: 30rpx;
    margin-top: 20rpx;
    text-align: left;
  }
  .text {
    top: 100rpx;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    // 美化多行文本输入框
    width: 90%;
    height: 200rpx;
    border: 1px solid #ccc;
    padding: 20rpx;
    border-radius: 20rpx;
    text-align: left;
    text-indent: 20rpx;
    font-size: 30rpx;
    margin-top: 20rpx;
    text-align: left;
  }
  .submitButton {
    position: fixed;
    bottom: 40rpx;
    width: 80%;
    height: 80rpx;
    background-image: url('../../../static/muwen.jpg');
    background-size: 100% 100%;
    border-radius: 20rpx;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 80rpx;
    font-size: 35rpx;
    color: #fff;
    font-weight: 600;
  }
  .aReminder {
    position: absolute;
    top: 25%;

    // 美化提示
    padding: 20rpx;
    font-size: 25rpx;
    color: #666;
    // text-align: left;
    margin-top: 20rpx;
    line-height: 40rpx;
    text-indent: 20rpx;
    margin-bottom: 20rpx;
  }
}
</style>
