<template>
  <view>
    <view>
      <page-header title="学生管理" />
    </view>
    <view class="homePage">
      <view class="box">
        <u-button @click="studentsShow = true" type="primary" :plain="true" text="新增学生"></u-button>
      </view>
      <view class="list">
        <view v-for="item in studentList" class="box">
          <view>学号:{{item.userName}}</view>
          <view>
            <span @click="openPassword(item)">修改密码</span>
            <span @click="deleteStudent(item)">删除学生</span>
          </view>
        </view>
      </view>
    </view>
    <!-- 新增学生弹出框 -->
    <u-popup :show="studentsShow" @close="close" @open="open">
      <view class="modifyThePassword">
        <h3>创建学生账号</h3>
        <input v-model="regData.username" placeholder="请输入学号" type="text" />
        <input v-model="regData.password" placeholder="请输入密码" type="password" />

        <view class="btn">
          <u-button @click="addStudent" type="primary" :plain="true" text="创建账号"></u-button>
        </view>
      </view>
    </u-popup>
    <!-- 修改密码弹出框 -->
    <u-popup :show="show" @close="close" @open="open">
      <view class="modifyThePassword">
        <h3>请输入新密码</h3>
        <input v-model="modifyData.password" placeholder="请输入新密码" type="password" />

        <view class="btn">
          <u-button @click="modifyPassword" type="primary" :plain="true" text="修改密码"></u-button>
        </view>
      </view>
    </u-popup>
  </view>
</template>

<script>
import { userList, registerStudent, resetPwd, delUserIds } from '@/api/api'
export default {
  name: '',
  data () {
    return {
      show: false,
      studentsShow: false,
      studentList: [],

      // 新增数据
      regData: {},

      //   修改密码数据
      modifyData: {},
    }
  },
  mounted () {
    this.getList()
  },
  methods: {

    getList () {
      let obj = {
        // userType: 11
      }
      userList(obj).then((res) => {
        this.studentList = res.rows
      }).catch(() => {

      });
    },

    open () {
      // console.log('open');
    },
    close () {
      this.show = false
      this.studentsShow = false
      // console.log('close');
    },
    // 新增学生
    addStudent () {
      // 做判空
      if (this.regData.username == null) {
        uni.showToast({
          title: "请输入学号",
          icon: "none",
        });
        return;
      } else if (this.regData.password == null) {
        uni.showToast({
          title: "请输入密码",
          icon: "none",
        });
        return;
      }
      this.regData.confirmPassword = this.regData.password
      registerStudent(this.regData).then((res) => {
        let { code, msg } = res
        if (code == 200) {
          uni.showToast({
            title: "创建成功",
            icon: "none",
          });
          this.studentsShow = false
          this.getList()
        } else {
          uni.showToast({
            title: msg,
            icon: "none",
          });
        }
      }).catch(() => {

      });
    },
    // 删除学生
    deleteStudent (item) {

      console.log(item)
      uni.showModal({
        title: '提示',
        content: '是否确认删除？',
        success: (res) => {
          if (res.confirm) {
            // 确认删除

            delUserIds(item.userId).then((res) => {

              let { code, msg } = res
              if (code == 200) {
                uni.showToast({
                  title: "删除成功",
                  icon: "none",
                });
                this.getList()
              } else {
                uni.showToast({
                  title: msg,
                  icon: "none",
                });
              }
            }).catch(() => {

            });
          } else if (res.cancel) {
            // 取消删除
          }
        }
      })
    },

    openPassword (item) {
      this.show = true

      this.modifyData.userId = item.userId
    },
    // 修改密码
    modifyPassword () {

      resetPwd(this.modifyData).then((res) => {


        let { code, msg } = res
        if (code == 200) {
          uni.showToast({
            title: "修改成功",
            icon: "none",
          });
          this.show = false
          this.getList()
        } else {
          uni.showToast({
            title: msg,
            icon: "none",
          });
        }
      }).catch(() => {

      });

    },
  }
}
</script>

<style scoped lang="scss">
.homePage {
  height: 90vh;
  padding: 20rpx;
  .list {
    .box {
      height: 80rpx;
      border-bottom: 1px solid #dbdbdb;
      display: flex;

      view:nth-child(1) {
        flex: 1;
        line-height: 80rpx;
      }
      view:nth-child(2) {
        flex: 1;
        line-height: 80rpx;
        text-align: right;

        span {
          margin-left: 20rpx;
          color: #007aff;
          cursor: pointer;
          font-size: 28rpx;
          text-decoration: underline;
          margin-right: 20rpx;
        }
      }
    }
  }
}

.modifyThePassword {
  min-height: 600rpx;
  padding-top: 100rpx;
  h3 {
    text-align: center;
  }

  //   美化input
  input {
    width: 80%;
    height: 60rpx;
    border: 1px solid #dbdbdb;
    border-radius: 10rpx;
    padding: 0 10rpx;
    margin: 0 auto;
    text-align: center;
    line-height: 60rpx;
    font-size: 30rpx;
    margin-top: 40rpx;
  }

  .btn {
    margin-top: 20rpx;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-block: 60rpx;
  }
}
</style>
